@page "/crm/equipos"
@inject IRepositorio http
@inject SweetAlertService swal
@attribute [Authorize(Roles = "Admin, VER_MODULO_EQUIPOS")]

<AuthorizeView Roles="Admin, VER_MODULO_EQUIPOS">
    <Authorized>
        <Card>
            <Header>
                <div class="d-flex justify-content-between">
                    <b>Equipos</b>
                    <NavLink class="g-1 btn gcom-bg-amarillo" Match="NavLinkMatch.All" href="../">
                        <i class="fa fa-solid fa-arrow-left" />
                        Volver
                    </NavLink>
                </div>
            </Header>
        </Card>
        <div class="col-12 my-2">
            <AuthorizeView Roles="Admin, CREAR_EQUIPO">
                <Authorized Context="CREAREQUIPO">
                    <div class="col-md-2 col">
                        <NavLink class="btn btn-sm gcom-bg-amarillo g-1 col-12" href="crm/equipos/formulario" Match="NavLinkMatch.All">
                            <i class="fa fa-solid fa-plus" />Agregar
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>
        <AuthorizeView Roles="Admin, VER_EQUIPOS">
            <Authorized Context="VEREQUIPOS">
                <div class="ancho-tabla">
                    <Tabla Datos="Equipos" Cargando="loading_info">
                        <Cabeceras>
                            <tr>
                                <AuthorizeView Roles="Admin, EDITAR_EQUIPO, ELIMINAR_EQUIPO, VER_dETALLE_EQUIPO">
                                    <Authorized Context="ACCIONES">
                                        <th class="d-md-table-cell d-none" style="max-width:150px;"></th>
                                    </Authorized>
                                </AuthorizeView>
                                <th>Nombre</th>
                                <th>Lider de equipo</th>
                                <th>Division</th>
                            </tr>
                        </Cabeceras>
                        <Filtros>
                            <tr>
                                <AuthorizeView Roles="Admin, EDITAR_EQUIPO, ELIMINAR_EQUIPO, VER_dETALLE_EQUIPO">
                                    <Authorized Context="ACCIONES">
                                        <td class="d-md-table-cell d-none"></td>
                                    </Authorized>
                                </AuthorizeView>
                                <td><input class="form-control" @bind-value="@filtro.Nombre" @oninput="FiltrarNombre" /></td>
                                <td><input class="form-control" @bind-value="@filtro.Lider" @oninput="FiltrarLider" /></td>
                                <td><input class="form-control" @bind-value="@filtro.Division" @oninput="FiltrarDivision" /></td>
                            </tr>
                        </Filtros>
                        <Columnas Context="item">
                            <tr>
                                <AuthorizeView Roles="Admin, EDITAR_EQUIPO, ELIMINAR_EQUIPO, VER_dETALLE_EQUIPO">
                                    <Authorized Context="ACCIONES">
                                        <td class="d-md-table-cell d-none">
                                            <div class="btn-group">
                                                <AuthorizeView Roles="Admin, EDITAR_EQUIPO">
                                                    <Authorized Context="EDITAREQUIPO">
                                                        <a class="btn gcom-bg-amarillo" href="/crm/equipos/formulario/@item.Id">
                                                            <i class="fa fa-solid fa-edit" />
                                                        </a>
                                                    </Authorized>
                                                </AuthorizeView>
                                                <AuthorizeView Roles="Admin, VER_DETALLE_EQUIPO">
                                                    <Authorized Context="VERDETALLEEQUIPO">
                                                        <a class="btn gcom-bg-amarillo" href="/crm/equipo/@item.Id">
                                                            <i class="fa fa-solid fa-eye" />
                                                        </a>
                                                    </Authorized>
                                                </AuthorizeView>
                                                <AuthorizeView Roles="Admin, ELIMINAR_EQUIPO">
                                                    <Authorized Context="ELIMINAREQUIPO">
                                                        <button class="btn btn-danger" @onclick="@(()=>Eliminar(item.Id))">
                                                            <i class="fa fa-solid fa-trash" />
                                                        </button>
                                                    </Authorized>
                                                </AuthorizeView>
                                            </div>
                                        </td>
                                    </Authorized>
                                </AuthorizeView>
                                <td>
                                    <div class="d-flex">
                                        <div class="my-auto" style="background-color:@item.Color;width:1rem;height:1rem;border-radius:1rem;margin-right:.2rem;"></div>
                                        @item.Nombre
                                    </div>
                                </td>
                                <td>@item.Lider</td>
                                <td>@item.Division</td>
                            </tr>
                        </Columnas>
                    </Tabla>
                </div>
                <div class="col-12">
                    <PaginacionComponent PaginaActual="filtro.Pagina_ACtual" PaginasTotales="filtro.Total_paginas" PaginaSeleccionada="Pagina_Seleccionada" Radio="5" />
                    <div class="col-12">
                        <p>Total de registros: @filtro.Total_registros</p>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <NoAutorizado />
    </NotAuthorized>
</AuthorizeView>

@code {
    List<CRMEquipoDTO> Equipos = new();
    CRMEquipoDTO filtro = new();
    bool loading_info = false;
    Dictionary<string, string> query = new();

    protected override async Task OnInitializedAsync()
    {
        await Obtener();
    }

    private Dictionary<string, string> SetFiltro()
    {
        query[$"{nameof(filtro.Nombre)}"] = filtro.Nombre;

        return query;
    }

    private async Task Obtener()
    {
        try
        {
            loading_info = true;
            var uri = Constructor_De_URL_Parametros.Generar_URL(SetFiltro());

            var response = await http.Get<List<CRMEquipoDTO>>($"api/crmequipo?{uri}");
            if (response.Error)
            {
                loading_info = false;
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                loading_info = false;
                Equipos = response.Response;

                filtro.Total_paginas = Constructor_De_URL_Parametros.Obt_Total_Paginas(response.HttpResponseMessage);
                filtro.Total_registros = Constructor_De_URL_Parametros.Obt_Total_Registros(response.HttpResponseMessage);
                filtro.Pagina_ACtual = Constructor_De_URL_Parametros.Obt_Pagina_Actual(response.HttpResponseMessage);
            }
        }
        catch (Exception e)
        {
            loading_info = false;
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Eliminar(int id)
    {
        try
        {
            var response = await http.Delete($"api/crmequipo/{id}");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                await Obtener();
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }

    }

    private async Task Pagina_Seleccionada(int pagina)
    {
        filtro.Pagina_ACtual = pagina;
        filtro.Pagina = pagina;

        await Obtener();
    }

    private async Task FiltrarNombre(ChangeEventArgs args)
    {
        filtro.Nombre = args.Value?.ToString() ?? string.Empty;
        await Obtener();
    }

    private async Task FiltrarLider(ChangeEventArgs args)
    {
        filtro.Lider = args.Value?.ToString() ?? string.Empty;
        await Obtener();
    }

    private async Task FiltrarDivision(ChangeEventArgs args)
    {
        filtro.Division = args.Value?.ToString() ?? string.Empty;
        await Obtener();
    }
}
