@page "/crm/contacto/{id:int}"

@inject IRepositorio http
@inject SweetAlertService swal
@attribute [Authorize(Roles = "Admin, VER_DETALLE_CONTACTOS")]
<AuthorizeView Roles="Admin, VER_DETALLE_CONTACTOS">
    <Authorized>
        <Card HeaderClass="d-flex justify-content-between">
            <Header>
                <div>
                    <b>Detalle contacto</b>
                </div>
                <div>
                    <div class="btn-group">
                        <button class="g-1 btn gcom-bg-amarillo" onclick="history.back();">
                            <i class="fa fa-solid fa-arrow-left" /> Volver
                        </button>
                        <NavLink class="btn gcom-bg-rojo" href="crm/gestion/actividades" Match="NavLinkMatch.All">
                            Actividades
                        </NavLink>
                    </div>
                </div>
            </Header>
            <Body>
                <Card HeaderText="Datos principales">
                    <Body>

                        <div class="col-12 row">
                            <div class="col-4">
                                <label><b>Nombre/s: </b></label>
                                <p>@detalle.Nombre</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Apellidos: </b></label>
                                <p>@detalle.Apellidos</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Titulo: </b></label>
                                <p>@detalle.Titulo</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Departamento: </b></label>
                                <p>@detalle.Departamento</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Cuenta: </b></label>
                                <p>@detalle.Cliente?.Nombre</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Teléfono de oficina: </b></label>
                                <p>@detalle.Departamento</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Teléfono móvil: </b></label>
                                <p>@detalle.Departamento</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Sitio Web: </b></label>
                                <a href="@detalle.SitioWeb" target="_blank">@detalle.SitioWeb</a>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Correo: </b></label>
                                <p>@detalle.Correo</p>
                            </div>
                        </div>
                    </Body>
                </Card>
                <Card HeaderText="Dirección principal">
                    <Body>

                        <div class="col-12 row">
                            <div class="col-md-4 col-12">
                                <label><b>Calle: </b></label>
                                <p>@detalle.Calle</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Colonia: </b></label>
                                <p>@detalle.Colonia</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Ciudad: </b></label>
                                <p>@detalle.Ciudad</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>C.P.: </b></label>
                                <p>@detalle.CP</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Pais: </b></label>
                                <p>@detalle.Pais</p>
                            </div>
                        </div>
                    </Body>
                </Card>
                <Card HeaderText="Información adicional">
                    <Body>

                        <div class="col-12 row">
                            <div class="col-md-4 col-12">
                                <label><b>Estatus: </b></label>
                                <p>@detalle.Estatus?.Valor</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Descripcion de estatus: </b></label>
                                <p>@detalle.Estatus_Desc</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Origen de contacto: </b></label>
                                <p>@detalle.Origen?.Valor</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Recomendado por: </b></label>
                                <p>@detalle.Recomen</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Asignado a: </b></label>
                                <AuthorizeView Roles="Admin, VER_DETALLE_VENDEDORES">
                                    <Authorized Context="VERDETALLEVENDEDOR">
                                        <p><NavLink href=@($"crm/vendedor/{detalle.VendedorId}")>@detalle.Vendedor?.Fullname</NavLink></p>
                                    </Authorized>
                                    <NotAuthorized Context="VERDETALLEVENDEDOR">
                                        <p>@detalle.Vendedor?.Fullname</p>
                                    </NotAuthorized>
                                </AuthorizeView>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Fecha de creacion: </b></label>
                                <p>@detalle.Fecha_Creacion</p>
                            </div>
                        </div>
                    </Body>
                </Card>
            </Body>
        </Card>
    </Authorized>
</AuthorizeView>
@code {
    [Parameter] public int Id { get; set; }
    CRMContactoDetalleDTO detalle = new();
    bool loading_info = false;

    protected override async Task OnParametersSetAsync()
    {
        await ObtenerContacto();
    }

    private async Task ObtenerContacto()
    {
        try
        {
            loading_info = true;
            var response = await http.Get<CRMContactoDetalleDTO>($"api/crmcontactos/{Id}/detalle");
            if (response.Error)
            {
                loading_info = false;
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                loading_info = false;
                detalle = response.Response;
            }
        }
        catch (Exception e)
        {
            loading_info = false;
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }

    }
}
