@page "/crm/gestion/usuarios"
@page "/crm/gestion/usuarios/{Id}"


@inject SweetAlertService Swal
@inject IRepositorio repositorio
@inject CRMUsuarioValidation validation
@attribute [Authorize(Roles = "Admin, CREAR_USUARIO")]
<AuthorizeView Roles="Admin, CREAR_USUARIO">
    <Authorized Context="GestionUsuario">
        <!--Formulario de registro-->
        <div class="card mt-2" style="height: 500px; overflow: scroll; ">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div>
                        <b>Creación de Usuarios</b>
                    </div>
                    <div>
                        <NavLink class="g-1 btn gcom-bg-amarillo" href="crm/usuarios" Match="NavLinkMatch.All">
                            <i class="fa fa-solid fa-arrow-left"></i> Volver
                        </NavLink>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <EditForm Model="@info" class="form col-12" OnValidSubmit="@CreateUser">
                        <FluentValidationValidator Validator="validation" />
                        <ValidationSummary />
                        <div class="col-12 row g-1">
                            <!--Nombre de Usuario, Password, Casilla de vendedor o comercial, rol, divisiones.-->
                            <!--Nombre de Usuario-->
                            <div class="col-12 col-md-4 my-1">
                                <label>Nombre de Usuario:</label>
                                <InputText @bind-Value="@info.UserName" class="form-control" MaxLenght="60" />
                            </div>
                            <!--Password-->
                            <div class="col-12 col-md-4 my-1">
                                <label>Contraseña:</label>
                                <div class="input-group">
                                    <RadzenPassword @bind-Value="info.Password" Visible="@info.passwordView" class="form-control" />
                                    <RadzenTextBox @bind-Value="info.Password" Visible="@(info.passwordView == false)" class="form-control" />
                                    <div class="d-flex align-items-center ms-1 mt-1">
                                        <RadzenCheckBox @bind-Value="@info.passwordView" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-md-4 my-1">
                                <!--Divisiones-->
                                <label>Divisiones:</label>
                                <InputSelect @bind-Value="@info.IDDivision" class="form-control" disabled="@isDivisionDisabled">
                                    <option>-- Seleccione una Division --</option>
                                    @if (Divisiones == null)
                                    {
                                        <option>Cargando...</option>
                                    }
                                    else if (Divisiones.Count == 0)
                                    {
                                        <option>No hay Divisiones.</option>
                                    }
                                    else
                                    {
                                        @foreach (var item in Divisiones)
                                        {
                                            <option value="@item.Id">@item.Nombre</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                            <div class="row g-1 ms-3 align-items-center">
                                <div class="col-auto my-1 d-flex align-items-center">
                                    @if (isVendedorDisabled == false)
                                    {
                                        <RadzenCheckBox @bind-Value="@info.IsComercial" Name="CheckBox1" class="mx-2" @onchange="@(e => BlockIfDisabled(e, isOriginadorDisabled || isVendedorDisabled))" />
                                        <RadzenLabel Text="Es Comercial" Component="CheckBox1" class="ms-2" />
                                    }
                                </div>
                                @if (info.IsComercial)
                                {
                                    <div class="col-12 col-md-4 my-1">
                                        <InputSelect @bind-Value="@info.IDOriginador" class="form-control" disabled="@isOriginadorDisabled">
                                            <option>-- Seleccione un Comercial--</option>
                                            @if (Originadores == null)
                                            {
                                                <option>Cargando..</option>
                                            }
                                            else if (Originadores.Count == 0)
                                            {
                                                <option>No hay Comerciales</option>
                                            }
                                            else
                                            {
                                                @foreach (var item in Originadores)
                                                {
                                                    <option value="@item.Id">@item.Nombre @item.Apellidos</option>
                                                }
                                            }
                                        </InputSelect>
                                    </div>
                                }
                                <div class="col-auto my-1 d-flex align-items-center">
                                    @if (isOriginadorDisabled == false)
                                    {
                                        <RadzenCheckBox @bind-Value="@info.IsVendedor" Name="CheckBox2" class="mx-2" @onchange="@(e => BlockIfDisabled(e, isVendedorDisabled || isOriginadorDisabled))" />
                                        <RadzenLabel Text="Es Vendedor" Component="CheckBox2" class="ms-2" />
                                    }
                                </div>
                                @if (info.IsVendedor)
                                {
                                    <div class="col-12 col-md-4 my-1">
                                        <InputSelect @bind-Value="@info.IDVendedor" class="form-control" disabled="@isVendedorDisabled">
                                            <option>-- Seleccione un Vendedor--</option>
                                            @if (Vendedores == null)
                                            {
                                                <option>Cargando..</option>
                                            }
                                            else if (Vendedores.Count == 0)
                                            {
                                                <option>No hay Vendedores</option>
                                            }
                                            else
                                            {
                                                @foreach (var item in Vendedores)
                                                {
                                                    <option value="@item.Id">@item.Nombre @item.Apellidos</option>
                                                }
                                            }
                                        </InputSelect>
                                    </div>
                                }
                            </div>
                            <div class="col-12 my-1">
                                <label>Roles:</label>
                                <div class="dropdown">
                                    @*//Texto que simula el dropdown*@
                                    <div class="dropdown-toggle">
                                        Seleccionar Roles
                                    </div>
                                    @*//Menú con checkboxes*@
                                    <div class="dropdown-content">
                                        @if (Roles == null)
                                        {
                                            <label>Cargando..</label>
                                        }
                                        else if (Roles.Count == 0)
                                        {
                                            <label>No hay Roles</label>
                                        }
                                        else
                                        {
                                            @foreach (var item in Roles)
                                            {
                                                <label for="@item.Id">
                                                    @*<input class="form-check-input" type="checkbox" id="@item.Id" checked="@item.Asignado" @onchange="e => ToggleRole(item, e.Value)" />
                                                        @item.Nombre*@
                                                    <input class="form-check-input" type="checkbox" value="@item.Id"
                                                           checked="@item.Asignado"
                                                           @onchange="(e) => ToggleRole(item, e)" />
                                                    @item.Nombre
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-4 mb-4">
                                <div class="col-12 mb-2">
                                    <!-- Fila centrada con justify-content-center -->
                                    <div class="row d-flex justify-content-center">
                                        <!-- Botón Agregar, ocupa col-4 -->
                                        @if (isEdit == false)
                                        {
                                            <div class="col-12 col-md-4">
                                                <button class="btn gcom-bg-amarillo col-12" type="submit">
                                                    <i class="fa-solid fa-user-plus"></i> <b>Agregar</b>
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <!-- Botón Guardar Cambios, ocupa col-4 -->
                                            <div class="col-12 col-md-4">
                                                <button class="btn gcom-bg-amarillo col-12" type="button" @onclick="@EditUser">
                                                    <i class="fa-solid fa-floppy-disk"></i> <b>Guardar Cambios</b>
                                                </button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>
<style>
    /* Estilo para el dropdown */
    .dropdown {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        max-height: 200px; /* Limitar la altura */
        overflow-y: auto; /* Habilitar scroll si es necesario */
    }

        .dropdown-content label {
            display: block;
            padding: 8px 16px;
            cursor: pointer;
        }

    .dropdown:hover .dropdown-content {
        display: block; /* Mostrar el dropdown al hacer hover */
    }

    .dropdown-toggle {
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        cursor: pointer;
        text-align: left;
    }
</style>

@code {
    bool isDivisionDisabled = false;
    bool isVendedorDisabled = false;
    bool isOriginadorDisabled = false;

    [Parameter] public string? Id { get; set; }

    List<CRMDivision> Divisiones { get; set; } = new List<CRMDivision>();
    List<CRMRol> Roles { get; set; } = new List<CRMRol>();
    List<CRMVendedor> Vendedores { get; set; } = new List<CRMVendedor>();
    List<CRMOriginador> Originadores { get; set; } = new List<CRMOriginador>();

    CRMUsuarioDTO info { get; set; } = new CRMUsuarioDTO();
    bool loading_guardar = false;
    bool isEdit = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.WhenAll(
            Obtener_Divisiones(),
            Obtener_Roles(),
            Obtener_Originadores(),
            Obtener_Vendedores()
            );

        if (!string.IsNullOrEmpty(Id))
        {
            isEdit = true;
            await ObtenerUsuario();
            //selectedRoles = info.Roles.Where(x => x.Asignado).ToList();
        }
    }

    public void BlockIfDisabled(ChangeEventArgs e, bool isDisabled)
    {
        if (isDisabled)
        {
            // Si está deshabilitado, se evita cambiar el valor
            e.Value = false;
        }
    }


    public async Task CreateUser()
    {
        try
        {
            //Realizamos la petición hacía el controlador donde creamos el usuario
            var responseHttp = await repositorio.Post<CRMUsuarioDTO, CRMUsuarioDTO>("api/crmvendedor/crear", info);
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                // Verificamos si la respuesta tiene un contenido JSON válido
                if (responseHttp.Response != null)
                {
                    // Aquí podrías manejar la respuesta, por ejemplo:
                    await Swal.FireAsync("Éxito", "Usuario creado correctamente", SweetAlertIcon.Success);
                }
                else
                {
                    await Swal.FireAsync("Éxito", "Usuario creado correctamente, pero sin datos adicionales", SweetAlertIcon.Success);
                }
            }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task EditUser()
    {
        try
        {
            //Sincronizamos los roles seleccionados con info.Roles
            info.Roles = selectedRoles.ToList();

            var responseHttp = await repositorio.Put<CRMUsuarioDTO>($"api/crmvendedor/editar", info);
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                await Swal.FireAsync("Exito", "El usuario ha sido modificado", SweetAlertIcon.Success);
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Obtener_Divisiones()
    {
        try
        {
            var responseHttp = await repositorio.Get<List<CRMDivision>>($"api/crmdivision");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Divisiones = responseHttp.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Obtener_Roles()
    {
        try
        {
            var responseHttp = await repositorio.Get<List<CRMRol>>($"api/crmrol/listroles");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Roles = responseHttp.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private List<CRMRol> selectedRoles = new List<CRMRol>(); // Lista de roles seleccionados (como objetos CRMRol)
    private void ToggleRole(CRMRol role, ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value;  // Convertir el valor del evento a booleano
                                         // Si está seleccionado, añadirlo a la lista de roles seleccionados
        if (isChecked)
        {
            if (!selectedRoles.Any(r => r.Id == role.Id))
            {
                selectedRoles.Add(role);
            }
        }
        else // Si no está seleccionado, removerlo de la lista de roles seleccionados
        {
            var roleToRemove = selectedRoles.FirstOrDefault(r => r.Id == role.Id);
            if (roleToRemove != null)
            {
                selectedRoles.Remove(roleToRemove);
            }
        }

        // Actualizar la lista completa de roles en info.Roles
        info.Roles = selectedRoles.ToList();
    }


    private async Task Obtener_Vendedores()
    {
        try
        {
            var responseHttp = await repositorio.Get<List<CRMVendedor>>($"api/crmvendedor/listvendedores");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Vendedores = responseHttp.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Obtener_Originadores()
    {
        try
        {
            var responseHttp = await repositorio.Get<List<CRMOriginador>>($"api/crmoriginador/listoriginadores");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Originadores = responseHttp.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task ObtenerUsuario()
    {
        try
        {
            var responseHttp = await repositorio.Get<CRMUsuarioDTO>($"api/crmvendedor/{Id}");
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                info = responseHttp.Response!;

                isDivisionDisabled = info.IDDivision != null;
                isVendedorDisabled = info.IDVendedor != null;
                isOriginadorDisabled = info.IDOriginador != null;

                //Inicializa la lista de roles seleccionados
                selectedRoles = Roles.Where(x => info.RolesAsignados.Contains(x.Id)).ToList();

                // Marcamos los checkboxes de roles ya asignados
                MarcarRolesAsignados(info.RolesAsignados);

                StateHasChanged();

                await SincronizarDatosUsuario();

            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private void MarcarRolesAsignados(List<int> rolesAsignados)
    {
        // Itera sobre la lista de roles y marca los checkboxes de roles asignados
        foreach (var rol in Roles)
        {
            rol.Asignado = rolesAsignados.Contains(rol.Id);
            if (rol.Asignado && !selectedRoles.Any(r => r.Id == rol.Id))
            {
                // Asegurarse de que los roles asignados se agreguen a la lista de selectedRoles
                selectedRoles.Add(rol);
            }
        }
    }

    private async Task SincronizarDatosUsuario()
    {
        try
        {
            // Sincronizar la división si es que tiene una seleccionada
            if (info.IDDivision != null)
            {
                // Buscar la división en la lista y seleccionarla
                var divisionSeleccionada = Divisiones.FirstOrDefault(d => d.Id == info.IDDivision);
                if (divisionSeleccionada != null)
                {
                    info.IDDivision = divisionSeleccionada.Id;
                }
            }

            // Sincronizar el vendedor si existe
            if (info.IsVendedor)
            {
                var vendedorSeleccionado = Vendedores.FirstOrDefault(v => v.Id == info.IDVendedor);
                if (vendedorSeleccionado != null)
                {
                    info.IDVendedor = vendedorSeleccionado.Id;
                }
            }

            // Sincronizar el originador si existe
            if (info.IsComercial)
            {
                var originadorSeleccionado = Originadores.FirstOrDefault(o => o.Id == info.IDOriginador);
                if (originadorSeleccionado != null)
                {
                    info.IDOriginador = originadorSeleccionado.Id;
                }
            }

            StateHasChanged();
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }


}

