@typeparam TListado
@typeparam TValue

<div class="col-12">
    <button @onclick="@(()=>ShowDropDown = !ShowDropDown)" class="form-control-sm form-control" type="button">
        @if (RenderValue is null || Valor_Seleleccionado is null)
        {
            @if (!string.IsNullOrEmpty(Default_Placeholder))
            {
                @Default_Placeholder
            }
            else
            {
                <p>Seleccione un valor</p>
            }

        }
        else
        {
            @if (Valor_Seleleccionado is not null)
            {
                @RenderValue(Valor_Seleleccionado)
            }
        }
    </button>
    @if (ShowDropDown)
    {
        <ul class="dropdown-menu list-group" style="height:400px;overflow-y:scroll;">
            @if (Permitir_Filtrar)
            {
                <li class="list-group-item">
                    <input type="text" class="form-control-sm form-control col-12" @bind="Valor_Filtrado" @oninput="@On_Change_Filter_Value" />
                </li>
            }
            <Virtualize Items="Listado" Context="Item" TItem="TListado">
                @if (Render is not null)
                {
                    <li class="list-group-item" style="cursor:pointer;" @onclick="@(()=>ValorChange(Item))">
                        @Render(Item)
                    </li>
                }
                @* <li class="list-group-item @(Item.Cod == Grupo_Seleccionado?.Cod ? "active":"")" style="cursor:pointer;" @onclick="@(()=>GrupoChange(Item))">@Item.Den</li> *@
            </Virtualize>
        </ul>
    }
</div>

@code {
    [Parameter] public string Default_Placeholder { get; set; } = string.Empty;
    private bool ShowDropDown { get; set; } = false;
    [Parameter] public List<TListado> Listado { get; set; } = new();
    [Parameter] public RenderFragment<TListado>? Render { get; set; } = null!;
    [Parameter] public RenderFragment<TListado>? RenderValue { get; set; } = null!;
    private string Valor_Filtrado = string.Empty;

    [Parameter] public bool Permitir_Filtrar { get; set; } = true;
    [Parameter] public EventCallback<string> FiltrarValor { get; set; }
    [Parameter] public EventCallback On_Change_Method { get; set; }

    private TListado? Valor_Seleleccionado { get; set; } = default(TListado);

    [Parameter] public string Propiedad_Valor { get; set; } = string.Empty;
    [Parameter] public string Propiedad_Filtro { get; set; } = string.Empty;

    [Parameter] public TValue? Valor { get; set; } = default(TValue);
    [Parameter] public EventCallback<TValue> ValorChanged { get; set; }
    [Parameter] public EventCallback<TValue> ValorChangedCustom { get; set; }

    private async Task ValorChange(TListado item)
    {
        ShowDropDown = false;

        Valor_Seleleccionado = item;

        if (!string.IsNullOrEmpty(Propiedad_Valor))
        {
            var prop_name = item.GetType().GetProperty(Propiedad_Valor);
            if (prop_name is not null)
            {

                Valor = (TValue)prop_name.GetValue(item);
                await ValorChanged.InvokeAsync(Valor);
                // ValorChangedCustom.InvokeAsync(Valor);
            }
        }
        else
        {
            TValue nuevo_valor = (TValue)Convert.ChangeType(Valor_Seleleccionado, typeof(TValue));
            Valor = nuevo_valor;
            await ValorChanged.InvokeAsync(Valor);
        }

        await On_Change_Method.InvokeAsync();
    }

    private async Task On_Change_Filter_Value(ChangeEventArgs e)
    {
        var value = e.Value?.ToString() ?? string.Empty;

        await FiltrarValor.InvokeAsync(value);
    }
    // private void GrupoChange(Grupo e)
    // {
    //     Grupo_Seleccionado = e;
    //     ShowDropDown = false;
    // }

    // private async Task FilterGrupo(ChangeEventArgs e)
    // {
    //     Grupo_Filtrado = e.Value.ToString();
    //     queryParams["Grupo_Filtrado"] = Grupo_Filtrado;
    //     await GetFolios();
    // }
}