@page "/asignacion/unidades"
@inject IJSRuntime js
@inject IRepositorio repositorio
@inject SweetAlertService swal
@inject NotificationService ns
@inject AsignacionUnidadValidation validation
@attribute [Authorize(Roles = "Admin, Administrador Sistema, Direccion, Gerencia, Programador")]

<AuthorizeView Roles="Admin, Administrador Sistema, Programador" Context="FORM">
    <RadzenAlert Variant="@Variant.Flat" AlertStyle="@AlertStyle.Info" Size="@AlertSize.Large" AllowClose="true" Visible="@AlertVisible">
        Se estan enviano las ordenes a synthesis, este proceso puede tardar unos minutos. Permanesca en esta pantalla hasta terminar el proceso.
    </RadzenAlert>
    <div class="col-12 row m-0">
        <div class="col-6 my-1">
            <div class="d-flex justify-content-center">
                <div class="col-12">
                    <div class="col-12 card">
                        <div class="col-12 card-body">
                            <div class="col-12 row m-0">
                                <div class="col-6">
                                    <label>
                                        <RadzenText TextStyle="TextStyle.Body2" class="m-0">
                                            Del:
                                        </RadzenText>
                                    </label>
                                    <InputDate class="form-control col-12" Type="InputDateType.DateTimeLocal" @bind-Value:format="yyyy-MM-dd hh:mm:ss" @bind-Value="@fechas.DateInicio" />
                                </div>
                                <div class="col-6">
                                    <label>
                                        <RadzenText TextStyle="TextStyle.Body2" class="m-0">
                                            A:
                                        </RadzenText>
                                    </label>
                                    <InputDate class="form-control col-12" Type="InputDateType.DateTimeLocal" @bind-Value:format="yyyy-MM-dd hh:mm:ss" @bind-Value="@fechas.DateFin" />
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-sm gcom-bg-amarillo col-12" @onclick="@MostrarOrdenFecha">
                                        <i class="fa fa-solid fa-eye"></i> <b>Mostrar ordenes</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 my-1">
            <div class="d-flex justify-content-center">
                <div class="col card shadow-sm">
                    <div class="col-12 card-body">
                        <EditForm Model="asignacion" class="form col-12" OnInvalidSubmit="@AsignarUnidad">
                            <FluentValidationValidator Validator="validation" />
                            <ValidationSummary />
                            <div class="row mb-1">
                                <div class="col-4">
                                    <label>
                                        <RadzenText TextStyle="TextStyle.Body2" class="m-0">
                                            Transportista:
                                        </RadzenText>
                                    </label>
                                    <RadzenDropDown Data="Transportistas" class="col-12 form-control-sm" TextProperty="Den" ValueProperty="Cod" @bind-Value="asignacion.CodTra"
                                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    AllowVirtualization="true" Change="@GetDataSelction" Style="height:20px">
                                        <Template Context="data">
                                            <RadzenText TextStyle="TextStyle.Body2">
                                                @((data as Transportista)?.Busentid) | @((data as Transportista)?.Den)
                                            </RadzenText>
                                        </Template>
                                        <ValueTemplate Context="data">
                                            <RadzenText TextStyle="TextStyle.Body2">
                                                @((data as Transportista)?.Busentid) | @((data as Transportista)?.Den)
                                            </RadzenText>
                                        </ValueTemplate>
                                    </RadzenDropDown>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <RadzenText TextStyle="TextStyle.Body2" class="m-0">
                                            Chofer:
                                        </RadzenText>
                                    </label>
                                    <RadzenDropDown Data="Choferes" class="col-12 form-control-sm" TextProperty="Den" ValueProperty="Cod" @bind-Value="asignacion.CodChf"
                                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    AllowVirtualization="true" Style="height:20px">
                                        <Template Context="data">
                                            <RadzenText TextStyle="TextStyle.Body2">
                                                @((data as Chofer)?.Dricod)  | @((data as Chofer)?.Den) |  @((data as Chofer)?.Shortden)
                                            </RadzenText>
                                        </Template>
                                        <ValueTemplate Context="data">
                                            <RadzenText TextStyle="TextStyle.Body2">
                                                @((data as Chofer)?.Dricod) | @((data as Chofer)?.Den) | @((data as Chofer)?.Shortden)
                                            </RadzenText>
                                        </ValueTemplate>
                                    </RadzenDropDown>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <RadzenText TextStyle="TextStyle.Body2" class="m-0">
                                            Vehiculo:
                                        </RadzenText>
                                    </label>
                                    <RadzenDropDown Data="Vehiculos" class="col-12 form-control-sm" TextProperty="Den" ValueProperty="Cod" @bind-Value="asignacion.CodTon"
                                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    AllowVirtualization="true" Style="height:20px">
                                        <Template Context="data">
                                            <RadzenText TextStyle="TextStyle.Body2">
                                                @((data as Tonel)?.Den)
                                            </RadzenText>
                                        </Template>
                                        <ValueTemplate Context="data">
                                            <RadzenText TextStyle="TextStyle.Body2">
                                                @((data as Tonel)?.Den)
                                            </RadzenText>
                                        </ValueTemplate>
                                    </RadzenDropDown>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row d-flex justify-content-end">
                                    <div class="col-8 row">
                                        @if (Vehiculos != null)
                                        {
                                            @if (Vehiculos.Count > 0 && asignacion.CodTon != null)
                                            {
                                                @if (asignacion.CodTon != 0)

                                                {

                                                    <InputRadioGroup @bind-Value="asignacion.Compartimiento">
                                                        @for (int i = 1; i <= Vehiculos.FirstOrDefault(x => x.Cod == asignacion.CodTon)!.CapDisponible; i++)
                                                        {
                                                            <div class="col">
                                                                <div class="form-check">
                                                                    <InputRadio Value="@i" class="form-check-input" id="@i" />
                                                                    <label class="form-check-label" for="@i">Com @i</label>
                                                                </div>
                                                            </div>
                                                        }
                                                    </InputRadioGroup>

                                                }
                                            }
                                        }
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-sm gcom-bg-amarillo col-12" type="submit" @onclick="@AsignarUnidad" disabled="@(ordenEmbarque is null || SendAsignacion)">
                                            <i class="fa fa-solid fa-truck-front"></i>
                                            <b>Asignar</b>
                                            @if (SendAsignacion)
                                            {
                                                <SpinnerLoading />
                                            }
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</AuthorizeView>
<div class="col-12 overflow-scroll ancho" style="height:450px;resize:both;">
    <table class="table table-sm table-bordered table-hover" id="miTabla">
        <thead>
            <tr style="max-height:50px;white-space:nowrap;">
                <th class="sticky-column fila" style="background-color:white;">
                    <RadzenCheckBox TriState="false" TValue="bool" Value="@(ordenes.Any(i => ordenesSeleccionada != null && ordenesSeleccionada.Contains(i)))"
                                    Change="@(args => ordenesSeleccionada = args ? ordenes.ToList() : new List<OrdenEmbarque>())" />
                    Asignar / cancelar
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                    Orden de compra
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                    Folio
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                    Cliente
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                    Destino
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                    Producto
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                    Volumen
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                    Fecha de carga
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                    Transportista
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                    Unidad
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                    Compartimiento
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                    Operador
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                    Bin
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                    Estatus
                </th>
                <th class="th-resizable overflow-hidden" style="min-width:20px;width:80px;">
                    Desasignar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="sticky-column" style="background-color:white;"></td>
                <td></td>
                <td></td>
                <td>
                    <InputText class="form-control form-control-sm" @bind-Value="ClienteSeleccionado" />
                </td>
                <td>
                    <InputText class="form-control form-control-sm" @bind-Value="DestinosSeleccionado" />

                </td>
                <td>
                    <InputText class="form-control form-control-sm" @bind-Value="ProductosSeleccionado" />
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <Virtualize Items="@ordenesFiltradas" Context="data" TItem="OrdenEmbarque">
                <tr class="@(ordenEmbarque == data || ordenesSeleccionada.Contains(data) ? "table-active" : string.Empty)" style="white-space:nowrap;">
                    <td class="sticky-column" style="background-color:white;">
                        <div class="col-12 row m-0">
                            <div class="col-2">
                                <RadzenCheckBox TriState="false" Value="@(ordenesSeleccionada.Contains(data))"
                                                TValue="bool" Change="@((bool args) => ToggleCheck(args, data))" />
                            </div>
                            <div class="btn-group btn-group-sm col-10" role="group" aria-label="Basic mixed styles example">
                                <button class="btn btn-primary" @onclick="@(() => SetOrden(data))">
                                    <i class="fa fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="btn btn-danger" @onclick="@(()=>CancelOrden(data))">
                                    <i class="fa fa-solid fa-cancel"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="rz-text-truncate">
                            @data?.OrdenCompra?.den
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="rz-text-truncate">
                            @data?.OrdenCierre?.Folio
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="rz-text-truncate">
                            @data?.Destino?.Cliente?.Den
                        </div>
                    </td>
                    <td class="overflow-hidden">@data?.Destino?.Den</td>
                    <td class="overflow-hidden">@data?.Producto?.Den</td>
                    <td class="overflow-hidden">
                        <div class="col-12">
                            @string.Format(new System.Globalization.CultureInfo("en-US"), "{0:N2}",
                            data?.Orden is not null ? data?.Orden?.Vol :
                            data?.Compartment == 1 && data.Tonel is not null ? data?.Tonel?.Capcom
                            : data?.Compartment == 2 && data.Tonel is not null ? data?.Tonel?.Capcom2
                            : data?.Compartment == 3 && data.Tonel is not null ? data?.Tonel?.Capcom3
                            : data?.Compartment == 4 && data.Tonel is not null ? data?.Tonel?.Capcom4
                            : data?.Vol
                            )
                        </div>
                    </td>
                    <td class="overflow-hidden">@data?.Fchcar?.ToString("dd/MM/yyyy")</td>
                    <td class="overflow-hidden">@data?.Tonel?.Transportista?.Den</td>
                    <td class="overflow-hidden">@data?.Tonel?.Veh</td>
                    <td class="overflow-hidden">@data?.Compartment</td>
                    <td class="overflow-hidden">@data?.Chofer?.FullName</td>
                    <td class="overflow-hidden">@data?.Bin</td>
                    <td class="overflow-hidden">@data?.Estado?.den</td>
                    <td class="overflow-hidden">
                        <div class="col-12">
                            <button class="btn btn-primary col-12 btn-sm" @onclick="@(()=>DesasignarUnidad(data))">
                                <i class="fa-solid fa-broom"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>
<div class="col-12 row m-0">
    <div class="col-3">
        <p class="text-muted">
            Ordenes totales: @ordenes.Count
        </p>
    </div>
    <div class="col-3">
        <p class="text-muted">
            Ordenes seleccionadas: @ordenesSeleccionada.Count
        </p>
    </div>
</div>
<AuthorizeView Roles="Admin, Administrador Sistema, Programador, Direccion, Gerencia" Context="SendSynthesis">
    <div class="col-12 card mt-2 mb-3">
        <div class="col-12 card-body">
            <div class="col-12 mb-2">
                <div class="row d-flex justify-content-start">
                    <AuthorizeView Roles="Admin, Administrador Sistema, Programador">
                        <div class="col-4">
                            <RadzenCheckBox @bind-Value="Synthesis" Name="CheckBox1" class="mx-3" />
                            <RadzenLabel Text="Envio a Synthesis" Component="CheckBox1" />
                        </div>
                    </AuthorizeView>
                </div>
                <div class="row d-flex justify-content-end">
                    @if (Synthesis)
                    {
                        <div class="col-4">
                            <AuthorizeView Roles="Admin, Administrador Sistema, Programador">
                                <div class="gcom-bg-amarillo">

                                    <RadzenButton class="gcom-bg-amarillo col-12" Variant="Variant.Text" Click="@SendToSynthesis" Disabled="updateData">
                                        <div class="col-12">
                                            <i class="fa fa-solid fa-paper-plane"></i><b>Enviar a Synthesis</b>
                                        </div>
                                    </RadzenButton>

                                </div>
                            </AuthorizeView>
                        </div>
                    }
                    <div class="col-4">
                        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador">
                            <button class="btn gcom-bg-amarillo col-12" @onclick="@GenerateExcel"><i class="fa fa-solid fa-file-excel"></i> <b>Exportar</b></button>
                        </AuthorizeView>

                    </div>
                </div>
            </div>
        </div>
    </div>
</AuthorizeView>

<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 12px;
        text-align: left;
        table-layout: fixed;
    }

    table, th, td {
        background-color: white;
    }

    .ancho {
        width: @TotalWidth;
    }

    tr:hover {
        background-color: #FFF633;
    }

    tr:active {
        background-color: #FFF633;
    }

    .fila th {
        position: -webkit-sticky;
        position: sticky;
        text-align: center;
        top: 0;
        background-color: #f2f2f2;
    }

    .asignar {
        table-layout: auto;
        width: auto;
    }

    .sticky-column {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: white;
    }

        .sticky-column, .sticky-column + th, .sticky-column + td {
            min-width: 180px;
        }

    .table-container {
        overflow: auto;
        width: 100%;
        border: 1px solid #ccc;
        max-height: 400px; /* Establece una altura máxima si es necesario */
    }

    th, td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    .th-resizable {
        position: relative;
        cursor: col-resize;
    }

        .th-resizable::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 8px; /* Ancho del área de redimensionamiento */
            background: transparent;
        }
</style>
<script>
    const table = document.getElementById('miTabla');
    let isResizing = false;
    let initialX = 0;
    let column = null;

    table.addEventListener('mousedown', (e) => {
        if (e.target.classList.contains('th-resizable')) {
            isResizing = true;
            column = e.target;
            initialX = e.clientX;
        }
    });

    document.addEventListener('mousemove', (e) => {
        if (isResizing) {
            const width = column.offsetWidth + (e.clientX - initialX);
            column.style.width = width + 'px';
        }
    });

    document.addEventListener('mouseup', () => {
        if (isResizing) {
            isResizing = false;
        }
    });
</script>
@code {

    public bool Synthesis { get; set; } = false;
    bool isClose = false;
    //grid
    private RadzenDataGrid<OrdenEmbarque>? grid = new RadzenDataGrid<OrdenEmbarque>();
    private ElementReference dpT;
    private List<int> Cantidades { get; set; } = null!;
    private OrdenEmbarque ordenEmbarque { get; set; } = null!;
    private IList<OrdenEmbarque> ordenes { get; set; } = new List<OrdenEmbarque>();
    private IList<OrdenEmbarque> ordenesFiltradas => ordenes.Where(x =>
        (string.IsNullOrEmpty(ClienteSeleccionado) || x.Destino != null && x.Destino.Cliente != null && x.Destino.Cliente.Den!.Contains(ClienteSeleccionado, StringComparison.OrdinalIgnoreCase)) &&
        (string.IsNullOrEmpty(DestinosSeleccionado) || x.Destino != null && x.Destino.Den!.Contains(DestinosSeleccionado, StringComparison.OrdinalIgnoreCase)) &&
        (string.IsNullOrEmpty(ProductosSeleccionado) || x.Producto != null && x.Producto.Den!.Contains(ProductosSeleccionado, StringComparison.OrdinalIgnoreCase))
    ).ToList();

    private IList<OrdenEmbarque> ordenesSeleccionada { get; set; } = new List<OrdenEmbarque>();

    //Listas
    private List<CodDenDTO> Destinos { get; set; } = null!;
    private List<CodDenDTO> Productos { get; set; } = null!;

    private List<Transportista> Transportistas { get; set; } = new List<Transportista>();
    private List<Chofer> Choferes { get; set; } = new List<Chofer>();
    private List<Tonel> Vehiculos { get; set; } = new List<Tonel>();

    List<TablaAsignacionUnidadesDTO> asignacionUnidadesDTO { get; set; } = new List<TablaAsignacionUnidadesDTO>();

    //Grids
    private string ProductosSeleccionado = string.Empty;
    private IEnumerable<string?> ProductList { get; set; } = new List<string>();

    private string DestinosSeleccionado = string.Empty;
    private IEnumerable<string?> DestinoList { get; set; } = new List<string>();

    private string ClienteSeleccionado = string.Empty;
    private IEnumerable<string?> ClienteList { get; set; } = new List<string>();

    //private string EstatusSeleccionado = string.Empty;
    //private IEnumerable<string?> EstatusList { get; set; } = new List<string>();

    //Selecciones
    private int ProductoSeleccionado = 0;
    private int DestinoSeleccionado = 0;
    private int TransportistaSeleccionado = 0;
    private int? TransportistaSeleccionadoB = 0;

    private int ChoferSeleccionado = 0;
    private int ChoferSeleccionadoB = 0;

    private int VehiculoSeleccionado = 0;

    private int CompartimentoSeleccionado = 0;

    FechasF fechas = new FechasF();

    //loadings
    bool loadingFiltro = false;
    bool loadingEdit = false;
    bool loadginAsignar = false;
    bool loadingAgregar = false;
    bool loadingSend = false;
    bool SendAsignacion = false;
    //
    CheckChofer checkChofer = new CheckChofer();
    AsignacionDTO asignacion { get; set; } = new AsignacionDTO();
    private FluentValidationValidator? _fluentValidationValidator;

    int width = 0;
    string TotalWidth = string.Empty;
    //bool isClose = false;
    bool updateData = false;

    DataGridSettings _settings;
    DataGridSettings Settings { get { return _settings; } set { if (_settings != value) { _settings = value; InvokeAsync(SaveStateAsync); } } }
    bool AlertVisible = false;

    protected override async Task OnInitializedAsync()
    {
        var cm = await js.GetItemLocalStorage("CloseMenu");
        if (!string.IsNullOrEmpty(cm))
            isClose = bool.Parse(cm);

        if (isClose)
            width = await js.InvokeAsync<int>("eval", "window.innerWidth") - 110;
        else
            width = await js.InvokeAsync<int>("eval", "window.innerWidth") - 360;

        if (width < 0)
            width = 500;
        TotalWidth = $"{width}px";

        //await GetDestinos();
        //await GetProductos();
        await GetTransportista();
    }


    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            await LoadStateAsync();
            StateHasChanged();
        }
    }

    void Change(string text)
    {
        Console.WriteLine($"{text}");
    }

    public async Task GetDataSelction()
    {
        if (asignacion.CodTra != null && asignacion.CodTra != TransportistaSeleccionadoB)
        {
            asignacion.CodTon = 0;
            asignacion.CodChf = 0;
            await GetChoferes();
            await GetVehiculo();
        }
    }
    public async Task GetDestinos()
    {
        var response = await repositorio.Get<List<CodDenDTO>>("api/destino");
        if (response.Error)
        {
            var responseHttp = await response.ObtenerMensajeError();
            await swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
        }
        else
        {
            Destinos = response.Response;
        }
    }
    public async Task GetProductos()
    {
        var response = await repositorio.Get<List<CodDenDTO>>("api/producto");
        if (response.Error)
        {
            var responseHttp = await response.ObtenerMensajeError();
            await swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
        }
        else
        {
            Productos = response.Response;
        }
    }
    public async Task GetTransportista()
    {
        var response = await repositorio.Get<List<Transportista>>("api/transportista");
        if (response.Error)
        {
            var responseHttp = await response.ObtenerMensajeError();
            await swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
        }
        else
        {
            Transportistas = response.Response;
        }
    }
    public async Task GetChoferes()
    {
        try
        {
            if (asignacion.CodTra != null)
            {
                string? busentid = Transportistas.FirstOrDefault(x => x.Cod == asignacion.CodTra)?.Busentid;
                if (!string.IsNullOrEmpty(busentid))
                {
                    var response = await repositorio.Get<List<Chofer>>($"api/chofer/{busentid}");
                    if (response.Error)
                    {
                        var repositorioHttp = await response.ObtenerMensajeError();
                        await swal.FireAsync("Error", repositorioHttp, SweetAlertIcon.Error);
                    }
                    else
                    {
                        TransportistaSeleccionadoB = asignacion.CodTra;
                        Choferes = response.Response;
                        StateHasChanged();
                    }
                }
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }
    public async Task GetVehiculo()
    {
        try
        {
            if (asignacion.CodTra != null)
            {
                string? carid = Transportistas.FirstOrDefault(x => x.Cod == asignacion.CodTra)?.CarrId;
                if (!string.IsNullOrEmpty(carid))
                {
                    var response = await repositorio.Get<List<Tonel>>($"api/vehiculo/{carid}");
                    if (response.Error)
                    {
                        var repositorioHttp = await response.ObtenerMensajeError();
                        await swal.FireAsync("Error", repositorioHttp, SweetAlertIcon.Error);
                    }
                    else
                    {
                        Vehiculos = response.Response;
                        TransportistaSeleccionadoB = asignacion.CodTra;
                        StateHasChanged();
                    }
                }
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }
    public async Task MostrarOrdenFecha()
    {
        try
        {
            loadingFiltro = true;
            StateHasChanged();

            var responseHttp = await repositorio.Post<FechasF, IList<OrdenEmbarque>>($"api/pedido/filtrar", fechas);

            if (responseHttp.Error)
            {
                loadingFiltro = false;
                var respuestaHttp = await responseHttp.ObtenerMensajeError();
                await swal.FireAsync("Error", respuestaHttp, SweetAlertIcon.Error);
            }
            else
            {
                loadingFiltro = false;
                ordenes = responseHttp.Response;
                ordenesSeleccionada = new List<OrdenEmbarque>();

                // DestinoList = ordenes?.DistinctBy(x => x?.Destino?.Den).Select(x => x?.Destino?.Den)!;
                // ProductList = ordenes?.DistinctBy(x => x?.Producto?.Den).Select(x => x?.Producto?.Den)!;
                // ClienteList = ordenes?.DistinctBy(x => x?.Destino?.Cliente?.Den).Select(x => x?.Destino?.Cliente?.Den)!;
            }
        }
        catch (Exception e)
        {
            loadingFiltro = false;
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    public async Task AsignarUnidad()
    {
        try
        {
            SendAsignacion = true;
            if (asignacion.CodTon == null || asignacion.CodTra == null || asignacion.CodChf == null)
                return;

            if (ordenEmbarque == null)
            {
                await swal.FireAsync("Advertencia", "Selecciona una orden para asignar unidad", SweetAlertIcon.Warning);
            }
            else
            {
                checkChofer = new CheckChofer()
                    {
                        Chofer = asignacion.CodChf,
                        Tonel = asignacion.CodTon,
                        Compartimento = Vehiculos?.Count == null ? 0 :
                            (asignacion.Compartimiento == 1) ? Vehiculos.FirstOrDefault(x => x.Cod == asignacion.CodTon && asignacion.CodTon != 0)?.Idcom
                            : (asignacion.Compartimiento == 2) ? Vehiculos.FirstOrDefault(x => x.Cod == asignacion.CodTon && asignacion.CodTon != 0)?.Idcom2
                            : (asignacion.Compartimiento == 3) ? Vehiculos.FirstOrDefault(x => x.Cod == asignacion.CodTon && asignacion.CodTon != 0)?.Idcom3
                            : Vehiculos.FirstOrDefault(x => x.Cod == asignacion.CodTon && asignacion.CodTon != 0)?.Idcom4,
                        //: (VehiculoSeleccionado == 4) ? Vehiculos.FirstOrDefault(x => x.Cod == VehiculoSeleccionado).Idcom4,
                        FechaCarga = ordenesSeleccionada.FirstOrDefault()?.Fchcar
                    };

                ordenEmbarque.Codchf = checkChofer.Chofer;
                ordenEmbarque.Codton = checkChofer.Tonel;
                ordenEmbarque.Compartment = asignacion.Compartimiento;
                ordenEmbarque.CompartmentId = checkChofer.Compartimento;

                var response = await repositorio.Post<OrdenEmbarque>($"api/pedido/verificar/carga", ordenEmbarque);
                if (response.Error)
                {
                    var message = await response.ObtenerMensajeError();
                    await swal.FireAsync("Error", message, SweetAlertIcon.Error);
                    SendAsignacion = false;
                }
                else
                {
                    var responseHttp = await repositorio.Post<CheckChofer, int>($"api/pedido/check/chofer", checkChofer);

                    if (responseHttp.Error)
                    {
                        var respuestaHttp = await responseHttp.ObtenerMensajeError();
                        await swal.FireAsync("Error", respuestaHttp, SweetAlertIcon.Error);
                        SendAsignacion = false;
                    }
                    else
                    {
                        if (responseHttp.Response == 0)
                        {

                            await UpdateOrden();
                            asignacion.Compartimiento = 1;

                        }
                        else
                        {
                            var confirm = await swal.FireAsync(new SweetAlertOptions
                                {
                                    Icon = SweetAlertIcon.Warning,
                                    ShowCancelButton = true,
                                    ConfirmButtonText = "Aceptar",
                                    CancelButtonText = "Cancelar",
                                    Text = "Este chofer y esta unidad ya estan asignados a una orden. ¿Desea asignarlos a esta orden?"
                                });

                            if (!string.IsNullOrEmpty(confirm.Value))
                            {
                                var responseDes = await repositorio.Put<OrdenEmbarque>($"api/pedido/desasignar/{responseHttp.Response}", new OrdenEmbarque());

                                if (responseDes.Error)
                                {
                                    var message = await responseDes.ObtenerMensajeError();
                                    await swal.FireAsync("Error", message, SweetAlertIcon.Error);
                                    SendAsignacion = false;
                                }
                                else
                                {
                                    await UpdateOrden();
                                    await MostrarOrdenFecha();
                                    asignacion.Compartimiento = 1;
                                    SendAsignacion = false;
                                    //ordenesSeleccionada = new List<OrdenEmbarque>();
                                }
                            }
                        }
                        SendAsignacion = false;

                    }
                }
            }
            SendAsignacion = false;
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task UpdateOrden()
    {
        loadingAgregar = true;
        try
        {
            var response = await repositorio.Post<OrdenEmbarque, OrdenEmbarque>("api/pedido/update", ordenEmbarque);
            if (response.Error)
            {
                loadingAgregar = false;
                string? message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                loadingAgregar = false;
                if (response.Response == null)
                    return;

                var index = ordenes.IndexOf(ordenes.FirstOrDefault(x => x.Cod == response.Response.Cod)!);
                ordenes.RemoveAt(index);
                ordenes.Insert(index, response.Response);

                if (ordenesSeleccionada.Any(x => x.Cod == response.Response.Cod))
                {
                    index = ordenesSeleccionada.IndexOf(ordenesSeleccionada.FirstOrDefault(x => x.Cod == response.Response.Cod)!);
                    ordenesSeleccionada.RemoveAt(index);
                    ordenesSeleccionada.Insert(index, response.Response);
                }

                ns.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Actualizacion", Detail = $"Datos actualizados.", Duration = 2000, Style = "position:absolute; left:0px;" });
                // await grid!.Reload();
                ordenEmbarque = null!;
                StateHasChanged();
            }
        }
        catch (Exception e)
        {
            loadingAgregar = false;
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task GenerateExcel()
    {
        try
        {
            if (ordenes.Count != 0)
            {
                foreach (var item in ordenes)
                {
                    //Console.WriteLine(JsonConvert.SerializeObject(item));
                    if ((item.Destino != null && item.Destino.Cliente != null && item.Destino.Cliente.Den!.Contains(ClienteSeleccionado, StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(ClienteSeleccionado))
                       && (item.Destino != null && item.Destino.Den!.Contains(DestinosSeleccionado, StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(DestinosSeleccionado))
                       && (item.Producto != null && item.Producto.Den!.Contains(ProductosSeleccionado, StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(ProductosSeleccionado)))
                        asignacionUnidadesDTO.Add(new TablaAsignacionUnidadesDTO
                            {
                                OrdenCompra = item?.OrdenCompra?.den ?? "",
                                Referencia = item?.OrdenCierre?.Folio ?? "",
                                Cliente = item?.Destino?.Cliente?.Den ?? "",
                                Destino = item?.Destino?.Den ?? "",
                                Producto = item?.Producto?.Den ?? "",
                                //Volumen = item?.Vol,
                                Volumen = item?.Compartment == 1 && item.Tonel is not null ?
                        Convert.ToDouble(item?.Tonel?.Capcom) : item?.Compartment == 2 && item.Tonel is not null ?
                        Convert.ToDouble(item?.Tonel?.Capcom2) : item?.Compartment == 3 && item.Tonel is not null ?
                        Convert.ToDouble(item?.Tonel?.Capcom3) : item?.Compartment == 4 && item.Tonel is not null ?
                        Convert.ToDouble(item?.Tonel?.Capcom4) : item?.Vol,
                                FechaCarga = item?.Fchcar?.ToString("dd/MM/yyyy") ?? "",
                                Transportista = item?.Tonel?.Transportista?.Den ?? "",
                                Unidad = item?.Tonel?.Veh ?? "",
                                Compartimento = item?.Compartment,
                                Operador = item?.Chofer?.Den + " " + item?.Chofer?.Shortden ?? "",
                                Bin = item?.Bin,
                                Fecha = item?.OrdenCierre?.FechaLlegada ?? "",
                                Turno = item?.OrdenCierre?.Turno ?? ""
                                //Status = item?.Estado?.den
                            });
                }
                ExcelPackage.LicenseContext = LicenseContext.NonCommercial;
                var excel = new ExcelPackage();
                var worksheet = excel.Workbook.Worksheets.Add("Asignacion de Unidades");
                worksheet.Columns.Width = 60;
                worksheet.Columns.AutoFit();

                //Formación de Excel

                var header = worksheet.Cells["A1:N1"];
                var tablebody = worksheet.Cells["A1:A1"].LoadFromCollection<TablaAsignacionUnidadesDTO>(asignacionUnidadesDTO, true);
                tablebody.Style.Font.Bold = true;
                tablebody.Style.HorizontalAlignment = ExcelHorizontalAlignment.Center;


                header.Style.Fill.PatternType = ExcelFillStyle.Solid;
                header.Style.Fill.BackgroundColor.SetColor(Color.LightGray);

                //Guardado de Excel
                await js.GuardarComo($"AsignacionUnidades_{DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")}.xlsx", excel.GetAsByteArray());
                asignacionUnidadesDTO.Clear();
            }
            else
            {
                await swal.FireAsync("Alerta", "Debe tener datos filtrado para poder exportar", SweetAlertIcon.Warning);
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task AsignarTp(int code, ChangeEventArgs tp)
    {
        try
        {
            OrdenesTP ordentp = new OrdenesTP() { Cod = code, TP = (bool)tp.Value };
            var response = await repositorio.Put<OrdenesTP>($"api/pedido/tp", ordentp);

            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                grid?.Reload();
                if (ordentp.TP)
                    Message(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Orden asignada", Detail = "La orden ha sido asignada a TP." });
                else
                    Message(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Orden desasignada", Detail = "La orden ha sido desasignada a TP." });
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private void Message(NotificationMessage message)
    {
        ns.Notify(message);
    }

    private async Task SendToSynthesis()
    {
        try
        {
            if (ordenesSeleccionada is not null)
            {
                if (ordenesSeleccionada.Count == 0)
                {
                    await swal.FireAsync("Alerta", "Selecciona alguna orden para enviar a synthesis", SweetAlertIcon.Warning);
                    return;
                }

                var confirm = await swal.FireAsync(new SweetAlertOptions
                    {
                        Icon = SweetAlertIcon.Info,
                        ShowCancelButton = true,
                        ConfirmButtonText = "Aceptar",
                        CancelButtonText = "Cancelar",
                        Text = $"Se seleccionaron {ordenesSeleccionada.Count} orden/es de {ordenes.Count} para enviar. Tenga en cuenta que solo las ordenes con una unidad asignada seran enviadas.¿Desea continuar?"
                    });

                if (!string.IsNullOrEmpty(confirm.Value))
                {
                    Message(new NotificationMessage
                        {
                            Severity = NotificationSeverity.Info,
                            Summary = "Enviando Ordenes a Synthesis",
                            Detail = "Las ordenes se entan enviando a synthesis.\nPermanezca en esta pantalla hasta terminar el proceso.",
                            Duration = 150000
                        });

                    loadingSend = true;
                    AlertVisible = true;
                    StateHasChanged();
                    List<OrdenEmbarque> NewOrdens = new List<OrdenEmbarque>();
                    var ordens = ordenesSeleccionada.Where(x => x!.Tonel != null && x.Chofer != null && x.Destino != null && x.Destino?.Cliente != null)
                    .OrderBy(x => x.Fchpet)
                    .ThenBy(x => x!.Tonel!.Tracto)
                    // .ThenBy(x => x.Bin)
                    .ToList();
                    // Console.WriteLine(JsonConvert.SerializeObject(ordens));
                    // return;

                    foreach (var item in ordens)
                        if (!NewOrdens.Contains(item))
                            NewOrdens.Add(item);

                    updateData = true;
                    var response = await repositorio.Post<List<OrdenEmbarque>, bool>($"api/services/send", NewOrdens);
                    //var response = await repositorio.Post<List<OrdenEmbarque>>($"api/services/simulacion/synthesis", ordens);

                    if (response.Error)
                    {
                        AlertVisible = false;
                        updateData = false;
                        loadingSend = false;
                        var message = await response.ObtenerMensajeError();
                        await swal.FireAsync("Error", message, SweetAlertIcon.Error);
                        ordenesSeleccionada = new List<OrdenEmbarque>();
                        await MostrarOrdenFecha();
                    }
                    else
                    {
                        AlertVisible = false;
                        loadingSend = false;
                        await swal.FireAsync("Exito", "Las ordenes fueron enviadas a synthesis.", SweetAlertIcon.Success);
                        ordenesSeleccionada = new List<OrdenEmbarque>();
                        Synthesis = false;
                        updateData = false;
                        await MostrarOrdenFecha();
                        //ordenes = new List<OrdenEmbarque>();
                    }
                }
            }
            else
            {
                AlertVisible = false;
                updateData = false;
                loadingSend = false;
                ordenesSeleccionada = new List<OrdenEmbarque>();
                await swal.FireAsync("Alerta", "Debe de tener ordenes seleccionadas para poder enviar a synthesis", SweetAlertIcon.Warning);
            }
        }
        catch (Exception e)
        {
            AlertVisible = false;
            updateData = false;
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async void ToggleCheck(bool args, OrdenEmbarque orden)
    {
        try
        {
            if (args)
                ordenesSeleccionada.Add(orden);
            else
                ordenesSeleccionada.Remove(orden);

        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async void SetOrden(OrdenEmbarque orden)
    {
        try
        {
            ordenEmbarque = orden;

            // await grid!.SelectRow(orden);
            //await dpT.FocusAsync();
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task SaveStateAsync()
    {
        try
        {
            await Task.CompletedTask;
            await js.SetItemLocalStorage("settingsAsignacion", JsonConvert.SerializeObject(Settings));
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task LoadStateAsync()
    {
        try
        {
            await Task.CompletedTask;
            var result = await js.GetItemLocalStorage("settingsAsignacion");
            if (!string.IsNullOrEmpty(result))
            {
                _settings = JsonConvert.DeserializeObject<DataGridSettings>(result)!;
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task CancelOrden(OrdenEmbarque orden)
    {
        try
        {
            var confirm = await swal.FireAsync(new SweetAlertOptions
                {
                    Icon = SweetAlertIcon.Info,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Aceptar",
                    CancelButtonText = "Cancelar",
                    Text = "¿Desea cancelar la orden?"
                });

            if (!string.IsNullOrEmpty(confirm.Value))
            {
                var response = await repositorio.Delete($"api/pedido/cancel/{orden.Cod}");
                if (response.Error)
                {
                    var message = await response.ObtenerMensajeError();
                    await swal.FireAsync("Error", message, SweetAlertIcon.Error);
                }
                else
                {
                    // if (ordenes.Contains(orden))
                    var index = ordenes.IndexOf(orden);

                    ordenes.RemoveAt(index);

                    if (ordenesSeleccionada.Contains(orden))
                        ordenesSeleccionada.Remove(orden);

                    grid!.Reload();
                    StateHasChanged();
                }
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task DesasignarUnidad(OrdenEmbarque orden)
    {
        try
        {
            var confirm = await swal.FireAsync(new SweetAlertOptions
                {
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Aceptar",
                    CancelButtonText = "Cancelar",
                    Text = "¿Realmente desea desasignar de unidad y chofer a esta orden?"
                });
            ordenEmbarque = orden;
            if (!string.IsNullOrEmpty(confirm.Value))
            {
                var responseDes = await repositorio.Put<OrdenEmbarque>($"api/pedido/desasignar/{ordenEmbarque.Cod}", ordenEmbarque);

                if (responseDes.Error)
                {
                    var message = await responseDes.ObtenerMensajeError();
                    await swal.FireAsync("Error", message, SweetAlertIcon.Error);
                }
                else
                {
                    ns.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Actualizacion", Detail = $"Datos removidos.", Duration = 2000 });
                    ordenEmbarque = orden;
                    //await UpdateOrden();
                    //grid!.Reload();
                    //StateHasChanged();
                    // await MostrarOrdenFecha();
                    orden.Chofer = null;
                    orden.Tonel = null;

                    orden.Codchf = null;
                    orden.Codton = null;
                    orden.Compartment = 1;
                    orden.CompartmentId = null;
                    asignacion.Compartimiento = 1;

                    //ordenesSeleccionada = new List<OrdenEmbarque>();
                }
            }

        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }
}