@inject IRepositorio repositorio
@inject SweetAlertService Swal
@inject IJSRuntime js
@inject NotificationService Ns
@inject GestionChoferesValidation gestionChofer

@attribute [Authorize(Roles = "Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Contador")]

<div class="card">
    <div class="card-header">
        <b>Catalogo de Choferes</b>
    </div>
    <div class="card-body">
        <div class="col-12">
            <EditForm Model="@chofer" class="form col-12" OnValidSubmit="@CreateChofer" Context="Validations">
                <FluentValidationValidator Validator="gestionChofer" />
                <ValidationSummary />
                <div class="col-12 row mb-3">
                    <div class="col-3">
                        <label>Transportista(Empresa):</label>
                        <RadzenDropDown @bind-Value="chofer.Transportista" TValue="Transportista" Data="Grupos" TextProperty="Den"
                                        AllowVirtualization="true" AllowFiltering="true"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" class="col-12">
                        </RadzenDropDown>
                    </div>
                    <div class="col-3">
                        <label>Nombre del Chofer:</label>
                        <InputText @bind-Value="chofer.Den" class="form-control" MaxLenght="80" />
                    </div>
                    <div class="col-3">
                        <label>Apellido del Chofer:</label>
                        <InputText @bind-Value="chofer.Shortden" class="form-control" MaxLenght="80" />
                    </div>
                    <div class="col-3">
                        <label>RFC:</label>
                        <InputText @bind-Value="chofer.RFC_Capitales" class="form-control" MaxLenght="50">
                            <ValidationMessage For="@(()=>chofer.RFC)" />
                        </InputText>
                    </div>
                    <div class="col-3 d-flex mt-2 mx-auto">
                        @if (!isEdit)
                        {
                            <button class="col-12 btn gcom-bg-amarillo" type="submit">
                                <i class="fa fa-solid fa-plus"></i> Registrar Chofer
                            </button>
                        }
                        else
                        {
                            <button class="col mx-2 btn gcom-bg-amarillo" type="submit">
                                <i class="fa fa-solid fa-check"></i>
                            </button>
                            <button class="col mx-2 btn gcom-bg-amarillo" @onclick="@cancelEdit" type="button">
                                <i class="fa fa-solid fa-xmark"></i>
                            </button>
                        }

                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<!--<h4>Catalogo de Choferes</h4>
<AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Contador" Context="GestionClientes">
    <div class="col-12 d-flex justify-content-center">
        <div class="col-10 card shadow-sm">
            <div class="col-12 row card-body">
                <AuthorizeView Roles="Admin, Administrador Sistema, Analista Credito" Context="Gestion">
                    <h5>Agregar Choferes</h5>-->
<!--Aquí se agregará las validaciones para gestionar a los clientes-->
<!--<EditForm Model="@chofer" class="form col-12" OnValidSubmit="@CreateChofer" Context="Validations">
        <FluentValidationValidator Validator="gestionChofer" />
        <ValidationSummary />
        <div class="col-12 row mb-3">
            <div class="col-3">
                <label>Transportista(Empresa):</label>
                <RadzenDropDown @bind-Value="chofer.Transportista" TValue="Transportista" Data="Grupos" TextProperty="Den"
                                AllowVirtualization="true" AllowFiltering="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" class="col-12">
                </RadzenDropDown>
            </div>
            <div class="col-3">
                <label>Nombre del Chofer:</label>
                <InputText @bind-Value="chofer.Den" class="form-control" MaxLenght="80" />
            </div>
            <div class="col-3">
                <label>Apellido del Chofer:</label>
                <InputText @bind-Value="chofer.Shortden" class="form-control" MaxLenght="80" />
            </div>
            <div class="col-3">
                <label>RFC:</label>
                <InputText @bind-Value="chofer.RFC" class="form-control" MaxLenght="50"></InputText>
            </div>
            <div class="col-3 d-flex mt-2 mx-auto">
                <button class="col-12 btn gcom-bg-amarillo" type="submit">
                    <i class="fa fa-solid fa-plus"></i> Registrar Chofer
                </button>
            </div>
        </div>
    </EditForm>
</AuthorizeView>-->
<!--Aquí empieza la tabla de muestreo de datos-->
<!--</div>
        </div>
    </div>
</AuthorizeView>-->

<div class="card mt-2" style="height: 500px; overflow: scroll;">
    <div class="card-header">
        <b>Gestión de Cliente</b>
    </div>
    <div class="card-body">
        <div class="col-12 row">
            <div class="col-3">
                <label>Empresa Transportista</label>
                <RadzenDropDown Data="Grupos" class="col-12 form-control-sm" TextProperty="Den" ValueProperty="Cod" @bind-Value="chofer.Codtransport"
                                AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowVirtualization="true" Change="@GetCliente" Style="height:20px">
                    <Template Context="data">
                        <RadzenText TextStyle="TextStyle.Body2">
                            @((data as Transportista)?.Busentid) | @((data as Transportista)?.Den)
                        </RadzenText>
                    </Template>
                    <ValueTemplate Context="data">
                        <RadzenText TextStyle="TextStyle.Body2">
                            @((data as Transportista)?.Busentid) | @((data as Transportista)?.Den)
                        </RadzenText>
                    </ValueTemplate>
                </RadzenDropDown>
            </div>
            @*<div class="col-3">
                    <label>Unidad de Negocio</label>
                    <DropDownFilter Listado="Terminales" TListado="Tad" TValue="Int16" Seleccion_Multiple="true" Default_Placeholder="Seleccione una unidad de negocio">
                        <RenderValue>
                            <div>@context.Den</div>
                        </RenderValue>
                        <Render>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="@context.Cod" checked="@(Tads_Seleccionados.Contains(context))" @onchange="args => { CheckTads(context, args?.Value); }" />
                                <label class="form-check-label" for="@context.Cod">
                                    @if (context is not null)
                                    {
                                        @context.Den
                                    }
                                    else
                                    {
                                        <p>@context.Den</p>
                                    }
                                </label>
                            </div>
                        </Render>
                    </DropDownFilter>
                </div>
                <div class="col-3">
                    <button class="col-12 mx-auto btn gcom-bg-amarillo" type="submit" @onclick="@PostRelacion">
                        <i class="fa fa-solid fa-plus"></i> Relacionar Chofer-Unidad
                    </button>
                </div>*@
            <div class="col-12">
                <table class="table table-sm table-striped table-bordered">
                    <thead>
                        <tr>
                            @*<th>
                                    <input type="checkbox" checked="@(Choferes.Any(i => Chofer_Seleccionados != null && Chofer_Seleccionados.Contains(i)))"
                                           @onchange="args => CheckItemAll(args?.Value)" />
                                </th>*@
                            <th>Nombre del Chofer</th>
                            <th>Apellido</th>
                            <th>RFC</th>
                            <th>Estado</th>
                            <th>Editar</th>
                            @*<th>Unidades de Negocio</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Choferes.Count > 0)
                        {
                            <Virtualize Items="Choferes" TItem="Chofer" Context="item">
                                <tr>
                                    <!--<th>-->
                                    @*<input type="checkbox" checked="@(Clientes_Seleccionados.Contains(item))" @onchange="args => { CheckItem(item, args?.Value); }" />*@
                                    <!--<input class="form-check-input" type="checkbox" value="" id="@item.Cod" checked="@(Chofer_Seleccionados.Contains(item))" @onchange="args => { CheckChofer(item, args?.Value); }" />
                                    </th>-->
                                    <td>@item.Den</td>
                                    <td>@item.Shortden</td>
                                    <td>@item.RFC</td>
                                    <td>
                                        <div class="form-check form-switch mx-2">
                                            <input class="form-check-input" type="checkbox" role="switch" id="@item.Cod" checked="@item.Activo_Permanente"
                                                   @onchange="((ChangeEventArgs e) => HabilitarDeshabilitar(item, e))">
                                        </div>
                                    </td>
                                    <!--Editar-->
                                    <td>
                                        <button class="btn btn-sm gcom-bg-amarillo" @onclick="@(()=>@SetDestino(item))">
                                            <i class="fa fa-solid fa-edit"></i>
                                        </button>
                                    </td>
                                    @*<td>
                                            @if (item.Terminales is not null)
                                            {
                                                @foreach (var items in item.Terminales)
                                                {
                                                    <span class="badge rounded-pill gcom-bg-rojo me-2">
                                                        @items.Den

                                                        <button class="button-circle gcom-bg-amarillo" @onclick="@(()=>Borrar_Relacion(item, items))">
                                                            <i class="fa fa-solid fa-xmark"></i>
                                                        </button>

                                                    </span>
                                                }
                                            }
                                        </td>*@
                                </tr>
                            </Virtualize>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    .button-circle { /* Green */
        border: none;
        color: white;
        padding: .40rem .60rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: .75rem;
        cursor: pointer;
        border-radius: 2rem;
    }
</style>

@code {
    //Listas
    List<Tad> Tads_Seleccionados { get; set; } = new();
    List<Chofer> Chofer_Seleccionados { get; set; } = new();
    List<Tad> Terminales { get; set; } = new List<Tad>();
    List<Chofer> Choferes { get; set; } = new List<Chofer>();
    List<Transportista> Grupos { get; set; } = new List<Transportista>();
    List<Transportista> EmpresaTransporte { get; set; } = new List<Transportista>();
    //Instancias
    public Chofer chofer { get; set; } = new Chofer();
    public Tad Tad { get; set; } = new Tad();
    ClienteTadDTO clienteTadDTO { get; set; } = new ClienteTadDTO();
    AsignacionDTO asignacion { get; set; } = new AsignacionDTO();

    Chofer_Tad chofer_Tad { get; set; } = new Chofer_Tad();
    bool isEdit = false;

    protected override async Task OnInitializedAsync()
    {
        await Obtener_Terminales_Validas();
        await GetGrupos();
        // await ObtenerEmpresa(string.Empty);
    }

    private async Task CreateChofer()
    {
        try
        {
            //string? busentid = Grupos.FirstOrDefault(x => x.Cod == chofer.Codtransport)?.Busentid;
            chofer.Codtransport = Convert.ToInt32(chofer.Transportista!.Busentid);
            chofer.RFC = chofer.RFC.ToUpper();
            //transportista.Codgru = transportista.GrupoTransportista!.cod!;
            var response = await repositorio.Post<Chofer>($"api/chofer/crearChofer", chofer);
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                await Swal.FireAsync("Exito", $"Chofer {chofer.Den} asignado a transportista seleccionado", SweetAlertIcon.Success);
                await GetGrupos();
                //await GetCliente();
            }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Obtener_Terminales_Validas()
    {
        try
        {
            var response = await repositorio.Get<List<Tad>>("api/terminal/activas");
            if (response.Error)
            {
                string? message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Terminales = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);

        }
    }

    public async Task GetGrupos()
    {
        try
        {
            var response = await repositorio.Get<List<Transportista>>("api/transportista/lista");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Grupos = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }


    private async Task GetCliente()
    {
        try
        {
            string? busentid = Grupos.FirstOrDefault(x => x.Cod == chofer.Codtransport)?.Busentid;
            var response = await repositorio.Get<List<Chofer>>($"api/chofer/listado/{busentid}");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Choferes = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }


    private async Task PostRelacion()
    {
        try
        {
            if (Tads_Seleccionados.Count != 0 && Chofer_Seleccionados.Count != 0)
            {
                clienteTadDTO.Tads = Tads_Seleccionados;
                clienteTadDTO.Chofer = Chofer_Seleccionados;
                var response = await repositorio.Post<ClienteTadDTO>($"api/chofer/relacion", clienteTadDTO);
                if (response.Error)
                {
                    var message = await response.ObtenerMensajeError();
                    await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                }
                else
                {
                    await Swal.FireAsync("Exito", $"Chofer relacionado exitosamente", SweetAlertIcon.Success);
                    Choferes = new();
                    Chofer_Seleccionados = new();
                    await GetCliente();
                }
            }
            else
            {
                await Swal.FireAsync("Advertencia", "Debe tener seleccionado una terminal y un Chofer", SweetAlertIcon.Warning);
            }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Borrar_Relacion(Chofer chofer, Tad tads)
    {
        try
        {
            chofer_Tad.Id_Terminal = tads.Cod;
            chofer_Tad.Id_Chofer = chofer.Cod;
            var response = await repositorio.Post<Chofer_Tad>($"api/chofer/borrar/relacion", chofer_Tad);
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                await Swal.FireAsync("Exito", "Relacion borrada con éxito", SweetAlertIcon.Success);
                await GetCliente();
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }

    }

    private async Task CheckTads(Tad terminal, object check)
    {
        try
        {
            if ((bool)check)
            {
                if (!Tads_Seleccionados.Contains(terminal))
                    Tads_Seleccionados.Add(terminal);
            }
            else
            {
                if (Tads_Seleccionados.Contains(terminal))
                    Tads_Seleccionados.Remove(terminal);
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }

    }

    private async Task CheckChofer(Chofer chofer, object check)
    {
        try
        {
            if ((bool)check)
            {
                if (!Chofer_Seleccionados.Contains(chofer))
                    Chofer_Seleccionados.Add(chofer);
            }
            else
            {
                if (Chofer_Seleccionados.Contains(chofer))
                    Chofer_Seleccionados.Remove(chofer);
            }
            StateHasChanged();
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }

    }

    private async Task CheckItemAll(object check)
    {
        try
        {
            if ((bool)check)
                Chofer_Seleccionados = Choferes;
            else
                Chofer_Seleccionados = new();
            StateHasChanged();
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }

    }

    private async Task HabilitarDeshabilitar(Chofer chofer, ChangeEventArgs tp)
    {
        try
        {
            var status = (bool)tp.Value!;
            var responseHttp = await repositorio.Put<bool>($"api/chofer/status/{chofer.Cod}", status);
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                if (status)
                {
                    await Message($"{chofer.Den} ha sido habilitado", SweetAlertIcon.Info);
                }
                else
                {
                    await Message($"{chofer.Den} ha sido deshabilitado", SweetAlertIcon.Info);
                }
            }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Message(string Message, SweetAlertIcon icon)
    {
        await Swal.Mixin(new SweetAlertOptions
        {
            Position = "top-end",
            ShowConfirmButton = false,
            Timer = 1800,
            Toast = true,
        }).FireAsync(new SweetAlertOptions { Icon = icon, Text = Message });
    }

    private void SetDestino(Chofer destino)
    {
        try
        {
            isEdit = true;
            chofer = destino;
        }
        catch (Exception e)
        {
            throw e;
        }
    }

    private async void cancelEdit()
    {
        isEdit = false;
        chofer = new Chofer();
    }

}