@using GComFuelManager.Shared.DTOs;
@using GComFuelManager.Shared.Modelos;
@using RazorHtmlEmails.GComFuelManagerMigracion.Views.Emails.ConfirmationAccount
@using RazorHtmlEmails.GComFuelManagerMigracion.Views.Shared
@using System.Diagnostics;
@model EmailContent<Precio>

<div style="width:100%;margin-bottom:15px;display: flex;flex-direction:row;">
    <div style="width:100%;text-align:end;display: inline;">
        <b>
            Fecha: @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")
        </b>
    </div>
</div>
@{
    ViewData["EmailTitle"] = "Precios del dia!";
}
<p>
    @Model.Lista!.FirstOrDefault()!.Cliente!.Den, los precios asignados del dia son los siguientes.
</p>

<br />

@{
    if (Model.Lista != null)
    {

        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
                @foreach (var destino in Destinos())
                {
                    <tr>
                        <td>
                            <h4>Destino: @destino</h4>
                        </td>
                    </tr>
                    <tr>
                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="50%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                                        Producto
                                    </th>
                                    <th width="40%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                                        Fecha vigente
                                    </th>
                                    <th width="10%" align="left" bgcolor="#eeeeee" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 800; line-height: 24px; padding: 10px;">
                                        Precio por litro
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Precios(destino))
                                {
                                <tr style="margin-bottom:30px">
                                    <td align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding: 15px 10px 5px 10px;">
                                        @if (item.codPrd == 25 || item.codPrd == 26 || item.codPrd == 27)
                                        {
                                            <div style="background-color:#528234; border-radius:50%;display:inline;width:15px;height:15px;">&nbsp;&nbsp;&nbsp;</div>
                                        }
                                        else if (item.codPrd == 11 || item.codPrd == 12 || item.codPrd == 116)
                                        {
                                            <div style="background-color:#8FD154; border-radius:50%;display:inline;width:15px;height:15px;">&nbsp;&nbsp;&nbsp;</div>
                                        }
                                        else if (item.codPrd == 19 || item.codPrd == 20 || item.codPrd == 21)
                                        {
                                            <div style="background-color:#AC0608; border-radius:50%;display:inline;width:15px;height:15px;">&nbsp;&nbsp;&nbsp;</div>
                                        }
                                        else
                                        {
                                            <div style="background-color:#AEAAA9; border-radius:50%;display:inline;width:15px;height:15px;">&nbsp;&nbsp;&nbsp;</div>
                                        }
                                        @item.Producto!.Den
                                    </td>
                                    <td align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 24px; padding: 15px 10px 5px 10px;">
                                        @item.FchDia.ToString("yyyy-MM-dd")
                                    </td>
                                    <td align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 300; line-height: 24px; padding: 15px 10px 5px 10px;">
                                        @item.Pre.ToString("N2")
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </tr>
                }
                <tr>
                    <td>
                        <div style=" margin-top:50px;display:flex;">
                            <img src="https://i.postimg.cc/Z57T1QGJ/Triptico-Energas-EDITABLE-03.png" style="width:160px;height:140px;" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}
<br />

@functions {
    private IEnumerable<string?> Destinos()
    {
        IEnumerable<string?> destinos = new List<string>();

        destinos = Model.Lista!.DistinctBy(x => x.NombreDestino).Select(x => x.NombreDestino);

        return destinos;
    }

    private IEnumerable<Precio> Precios(string destino)
    {
        IEnumerable<Precio?> precios = new List<Precio>();

        precios = Model.Lista!.Where(x => x.NombreDestino!.Equals(destino));

        return precios!;
    }
}