@page "/usuarios"

@inject IRepositorio repositorio
@inject SweetAlertService swal
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin, Administrador Sistema, Administrador de Usuarios, Direccion, Gerencia")]
@inject TooltipService ts
@inject NotificationService NotificationService
@inject UsuarioInfoValidation validation

<AuthorizeView Roles="Admin, Administrador Sistema, Administrador de Usuarios" Context="Usuarios">
    <h4><b>Usuarios</b></h4>
    <!--Maquetacion formulario de usuarios-->
    <div class="col-12 card shadow p-2 mb-4">
        <div class="card-body g-3">
            <EditForm Model="@info" class="form col-12" OnValidSubmit="@PostUsers">
                <FluentValidationValidator Validator="validation" />
                <ValidationSummary />
                <div class="col-12 row d-flex g-3 p-2">
                    <div class="col-4 mb-1">
                        <div class="col-12">
                            <div class="col-12 row p-0">
                                <label>Nombre Completo:</label>
                            </div>
                            <div class="mt-2">
                                <InputText class="form-control" @bind-Value="info.Nombre" MaxLenght="60"/>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 mb-1">
                        <div class="col-12">
                            <div class="col-12 row p-0" @onmouseenter="@(args => ShowToolsTip(infosIcon))" @ref="infosIcon">
                                <label class="form-label">
                                    Nombre Usuario: <i class="fa-solid fa-circle-info fa-xs"></i>
                                </label>
                            </div>
                            <InputText class="form-control" @bind-Value="info.UserName" />
                        </div>
                    </div>
                    <div class="col-4 mb-1">
                        <div class="col-12">
                            <div class="col-12 row p-0" @onmouseenter="@(args => ShowToolTip(infoIcon))" @ref="infoIcon">
                                <label class="form-label">
                                    Contraseña <i class="fa-solid fa-circle-info fa-xs"></i>
                                </label>
                            </div>
                            @*<InputText class="form-control" @bind-Value="usuarioSeleccionado.FirstOrDefault()!.Password" />*@

                            <RadzenPassword @bind-Value="info.Password" Visible="@info.passwordView" />
                            <RadzenTextBox @bind-Value="info.Password" Visible="@(info.passwordView == false)" />
                            <RadzenCheckBox @bind-Value="@info.passwordView" />
                        </div>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-4 d-flex">
                        <div class="col-12 my-auto">
                            <RadzenCheckBox @bind-Value="@info.IsClient" Name="CheckBox1" class="mx-3" />
                            <RadzenLabel Text="Es Cliente" Component="CheckBox1" />
                        </div>
                    </div>
                    @if (info.IsClient)
                    {
                        <div class="col-4">
                            <div class="col-12">
                                <label class="form-label">Grupo</label>
                                <InputSelect @bind-Value="info.CodGru" class="form-select" onchange="@GetClientes()">
                                    <option>-- Selecciona una opcion --</option>
                                    @if (Grupos is null)
                                    {
                                        <option disabled> Cargando ...</option>
                                    }
                                    else if (Grupos.Count == 0)
                                    {
                                        <option disabled> No hay grupos</option>
                                    }
                                    else
                                    {
                                        foreach (var item in Grupos)
                                        {
                                            <option value="@item.Cod">@item.Den</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="col-12">
                                <label class="form-label">Cliente</label>
                                <InputSelect @bind-Value="info.CodCte" class="form-select">
                                    <option>-- Selecciona una opcion --</option>
                                    @if (Clientes is null)
                                    {
                                        <option disabled> Cargando ...</option>
                                    }
                                    else if (Clientes.Count == 0)
                                    {
                                        <option disabled> No hay capacidades</option>
                                    }
                                    else
                                    {
                                        foreach (var item in Clientes)
                                        {
                                            <option value="@item.Cod">@item.Den</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-12 row p-2">
                    <div class="col-12">
                        <label>Roles:</label>
                        <!--Selector multiple de Radzen-->
                        <RadzenDropDown @bind-Value="info.Roles" Data="Roles" TextProperty="NombreRol" ValueProperty="NombreRol"
                                        Multiple=true Placeholder="Seleccione los roles" Chips=true class="col-12" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"/>
                    </div>
                </div>
                <div class="col-12 row p-2">
                    <div class="col-12">
                        <label>Unidades de negocio:</label>
                        <!--Selector multiple de Radzen-->
                        <RadzenDropDown @bind-Value="info.Terminales_Seleccionadas" Data="Terminales" TextProperty="Den" ValueProperty="Cod" 
                                        Multiple=true Placeholder="Seleccione las terminales" Chips=true class="col-12" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                    </div>
                </div>
                <div class="col-12 mt-2 mb-3">
                    <div class="col-12 mb-2">
                        <div class="row d-flex justify-content-start">
                            <div class="col-4">
                                <RadzenCheckBox @bind-Value="info.ShowUsersActions" Name="CheckBox2" class="mx-3" />
                                <RadzenLabel Text="Mostrar acciones" Component="CheckBox2" />
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            @if (info.ShowUsersActions)
                            {
                                <div class="col-3">
                                    <button class="btn gcom-bg-amarillo col-12" type="submit"><i class="fa-solid fa-user-plus"></i> <b>Agregar</b></button>
                                </div>
                                <div class="col-3" @onmouseenter="@(args => ShowTip(Icon))" @ref="Icon">
                                    <button class="btn gcom-bg-amarillo col-12" @onclick="@EditUser" type="button"><i class="fa-solid fa-floppy-disk"></i> <b>Guardar Cambios</b></button>
                                </div>
                                <div class="col-3">
                                    <button class="btn gcom-bg-amarillo col-12" @onclick="@ClearFormData" type="button"><i class="fa fa-solid fa-broom"></i> <b>Limpiar Formulario</b></button>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </EditForm>
        </div>
    </div>
</AuthorizeView>

<AuthorizeView Roles="Admin, Administrador Sistema, Administrador de Usuarios, Direccion, Gerencia">
    <!--class="rz-my-12 ancho"-->
    <!--Maquetación de Tabla con Radzen-->
    <div class="col-12 d-flex justify-content-center mb-2">
        <RadzenDataGrid TItem="UsuarioInfo" Data="@Usuarios" AllowColumnResize="true" AllowVirtualization="true" AllowPickAllColumns="true" AllowPaging="true"
                        GridLines="DataGridGridLines.Both" Style="height:500px;" class="mb-3" ColumnResized="@(()=>grid.Reset())" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        IsLoading="@loadingEdit" @ref="@grid" AllowSorting="true" AllowColumnPicking="false" ShowPagingSummary="true" PageSizeOptions="@pageSizeOptions" FilterMode="FilterMode.Simple" AllowFiltering="true">
            <Columns>
                <AuthorizeView Roles="Admin, Administrador Sistema, Administrador de Usuarios" Context="Acciones">
                    <Authorized>
                        <RadzenDataGridColumn TItem="UsuarioInfo" Title="Acciones" Visible="true" Filterable="false" Width="100px" OrderIndex="1">
                            <Template Context="item">
                                <div class="col-12 row">
                                    <div class="col-12">
                                        <button class="btn btn-primary col-12" @onclick="@(() => setEdit(item))"><i class="fa fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                </div>
                            </Template>
                        </RadzenDataGridColumn>
                    </Authorized>
                </AuthorizeView>
                <RadzenDataGridColumn TItem="UsuarioInfo" Title="Nombre" Property="Nombre" Width="200px" OrderIndex="2" Filterable="true"/>
                <RadzenDataGridColumn TItem="UsuarioInfo" Title="Usuario" Property="UserName" Width="200px" OrderIndex="3" Filterable="true"/>
                <AuthorizeView Roles="Admin, Administrador Sistema, Administrador de Usuarios" Context="WatchPassword">
                    <RadzenDataGridColumn TItem="UsuarioInfo" Title="Contraseña" Property="Password" Width="200px" OrderIndex="4" Filterable="false">
                        <Template Context="user">
                            <div class="d-flex align-items-center">
                                @if (usuarioSeleccionado.Count == 1)
                                {
                                    <button type="button" class="btn gcom-bg-amarillo col-12" @onclick="@(() => ShowPassword(user.Password))" id="liveToastBtn"><i class="fa fa-solid fa-eye"></i> <b>Mostrar Contraseña</b></button>

                                }
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </AuthorizeView>
                <RadzenDataGridColumn TItem="UsuarioInfo" Title="Roles" Width="200px" OrderIndex="5">
                    <Template Context="data">

                        @foreach (var i in data.Roles)
                        {
                            <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Light" Width="20px">

                                @i

                            </RadzenBadge>

                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="UsuarioInfo" Title="Unidades de negocio" Width="200px" OrderIndex="5">
                    <Template Context="data">

                        @foreach (var i in data.Terminales)
                        {
                            <RadzenBadge BadgeStyle="BadgeStyle.Light" Text="Light" Width="20px">
                                @i.Den
                            </RadzenBadge>

                        }
                    </Template>
                </RadzenDataGridColumn>
                <AuthorizeView Roles="Admin, Administrador Sistema, Administrador de Usuarios" Context="Actions">
                    <RadzenDataGridColumn TItem="UsuarioInfo" Title="Activar/Desactivar" Width="140px" OrderIndex="6" Filterable="false">
                        <Template Context="data">
                            <div class="col-12">
                                <div class="form-check form-switch m-2">
                                    <input class="form-check-input" type="checkbox" role="switch" id="@data.UserCod" checked="@data.Activo"
                                           @onchange="@((ChangeEventArgs e) => ActivateUser(data.UserCod, e, data.Nombre))">
                                </div>
                            </div>
                        </Template>
                    </RadzenDataGridColumn>
                </AuthorizeView>
            </Columns>
        </RadzenDataGrid>
    </div>
</AuthorizeView>

@code {

    public bool ShowUsersActions { get; set; } = false;

    UsuarioInfo info { get; set; } = new UsuarioInfo();
    bool passwordView = true;
    //Listas
    UsuarioInfo users { get; set; } = new UsuarioInfo();
    List<UsuarioInfo> Usuarios { get; set; } = new List<UsuarioInfo>();

    private List<RolDTO> Roles { get; set; } = null!;
    private List<string> RolesSelectDTO = new List<string>();

    private List<Tad> Terminales { get; set; } = null!;

    private List<CodDenDTO> Clientes { get; set; } = new List<CodDenDTO>();
    private Cliente Cliente { get; set; } = new Cliente();

    private int? clienteSeleccioado { get; set; }

    private List<CodDenDTO> Grupos { get; set; } = null!;
    private Int16? GrupoSeleccionadoB = 0;

    //Usuario seleccionado
    private IList<UsuarioInfo> usuarioSeleccionado { get; set; } = new List<UsuarioInfo> { new UsuarioInfo() };
    //RadzenDataGrid
    private RadzenDataGrid<UsuarioInfo>? grid = new RadzenDataGrid<UsuarioInfo>();

    //loadings
    bool loadingEdit = false;

    ElementReference infoIcon;
    ElementReference infosIcon;
    ElementReference Icon;

    private RadzenDropDown<List<string>> dropdown = new RadzenDropDown<List<string>>();

    IEnumerable<int> pageSizeOptions = new int[] { 10, 20, 30 };

    //Ciclo de vida de inicio del componente
    protected override async Task OnInitializedAsync()
    {
        await GetRoles();
        await GetTerminales();
        await GetUsers();
        await GetGrupos();
    }

    void ShowToolTip(ElementReference elementReference, TooltipOptions options = null!) => ts.Open(elementReference, "Mínimo 8 y máximo 16 caracteres, al menos una letra mayúscula, una minúscula, un número y un carácter especial. Ej: Angel2023+", options);
    void ShowToolsTip(ElementReference elementReference, TooltipService optionss = null!) => ts.Open(elementReference, "Mínimo de 8 y máximo de 16 caracteres, sin caracteres especiales");
    void ShowTip(ElementReference elementReference, TooltipService opts = null!) => ts.Open(elementReference, "Boton exclusivo para la edición del usuario");

    private string passwordType = "password";

    private void ClearFormData()
    {
        info = new UsuarioInfo();
    }

    //Obtención de roles
    public async Task GetRoles()
    {
        //Variable donde guardamos la obtención de los roles
        var respuestaHTTP = await repositorio.Get<List<RolDTO>>("api/usuarios/roles");

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            Roles = respuestaHTTP.Response;
        }
    }

    public async Task GetTerminales()
    {
        //Variable donde guardamos la obtención de los roles
        var respuestaHTTP = await repositorio.Get<List<Tad>>("api/terminal");

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            Terminales = respuestaHTTP.Response;
        }
    }

    //Obtención de usuarios en lista
    public async Task GetUsers()
    {
        //Variable donde guardamos la obtención de los usuarios
        var respuestaHTTP = await repositorio.Get<List<UsuarioInfo>>("api/usuarios/list");

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            Usuarios = respuestaHTTP.Response;
        }
    }

    //Funcion para habilitar la accion de editar el usuario
    private async void setEdit(UsuarioInfo Item)
    {
        try
        {
            info = Item;
            StateHasChanged();
            info = Item;
            //Console.WriteLine(JsonConvert.SerializeObject(Item));
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }


    //Creación de usuarios nuevos
    public async Task PostUsers()
    {
        //Petición hacía controlador donde creamos el usuario
        var respuestaHTTP = await repositorio.Post<UsuarioInfo, UsuarioInfo>("api/usuarios/crear", info);
        if (info.Nombre != null && info.UserName != null && info.Password != null)
        {
            if (respuestaHTTP.Error)
            {
                var responseHTTP = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", "Verifique que el Nombre de Usuario o Contraseña cumpla con los requisitos" + responseHTTP, SweetAlertIcon.Error);
            }
            else
            {
                //Formamos el POST para agregar al nuevo usuario
                if (respuestaHTTP.Response is not null)
                {

                    await swal.FireAsync("Éxito", "Usuario creado correctamente", SweetAlertIcon.Success);
                    //Hacer un reload de la tabla
                    Usuarios.Add(respuestaHTTP.Response);
                    grid?.Reload();
                    await GetUsers();

                }
            }
        }
        else
        {
            await swal.FireAsync("Advertencia", "Verifique que todos los campos esten rellenados por favor.", SweetAlertIcon.Warning);
        }

    }
    //Edición del usuario
    public async Task EditUser()
    {
        try
        {
            if (usuarioSeleccionado.Count == 0)
            {
                await swal.FireAsync("Advertencia", "Seleccione a un usuario para editar", SweetAlertIcon.Warning);
            }
            else
            {
                var responseHttp = await repositorio.Put<UsuarioInfo>($"api/usuarios/editar", info);

                if (responseHttp.Error)
                {
                    var respuestaHttp = await responseHttp.ObtenerMensajeError();
                    await swal.FireAsync("Error", respuestaHttp, SweetAlertIcon.Error);
                }
                else
                {
                    grid?.Reload();
                    await swal.FireAsync("Exito", "El usuario ha sido modificado", SweetAlertIcon.Success);
                    await GetUsers();
                }
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }
    //Función asincrona para activar al usuario o desactivarlo.
    //Dentro de los parametros a asignar vamos a trabajar con el usuario que se va a modificar y un cambio evento que se encarga de modificar el dato
    public async Task ActivateUser(int code, ChangeEventArgs act, string name)
    {
        try
        {
            //Variable booleana ligada al parametro de cambio de evento.
            UsuarioInfo usuarioInfo = new UsuarioInfo() { UserCod = code, Activo = (bool)act.Value, Nombre = name };
            //Petición de tipo PUT recibiendo un valor booleano, mandando el cod del usuario y el cambio de estado activo
            var responseHttp = await repositorio.Put<UsuarioInfo>($"api/usuarios/activar", usuarioInfo);
            if (responseHttp.Error)
            {
                var respuestaHttp = await responseHttp.ObtenerMensajeError();
                await swal.FireAsync("Error", respuestaHttp, SweetAlertIcon.Error);
            }
            else
            {
                //Cambio en la grid
                grid?.Reload();
                if (usuarioInfo.Activo)
                {
                    await Alertas($"El usuario: {usuarioInfo.Nombre} ha sido activado", SweetAlertIcon.Info);
                }
                else
                {
                    await Alertas($"El usuario: {usuarioInfo.Nombre} ha sido desactivado", SweetAlertIcon.Info);
                }
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }
    private string displayedPassword = null!;
    private async Task ShowPassword(string password)
    {
        displayedPassword = password;
        await AlertaPass($"La contraseña es: {displayedPassword}", SweetAlertIcon.Info);
    }
    //Función privada para creación de alertas personalizadas
    private async Task AlertaPass(string message, SweetAlertIcon icon)
    {
        await swal.Mixin(new SweetAlertOptions
        {
            Position = "top-end",
            ShowConfirmButton = false,
            ShowCloseButton = true,
            Timer = 20000,
            TimerProgressBar = true,
            Toast = true,
        }).FireAsync(new SweetAlertOptions { Icon = icon, Text = message });
    }
    //Función privada para creación de alertas personalizadas
    private async Task Alertas(string message, SweetAlertIcon icon)
    {
        await swal.Mixin(new SweetAlertOptions
        {
            Position = "top-end",
            ShowConfirmButton = false,
            Timer = 1800,
            TimerProgressBar = true,
            Toast = true,
        }).FireAsync(new SweetAlertOptions { Icon = icon, Text = message });
    }

    public async Task GetGrupos()
    {
        try
        {
            var response = await repositorio.Get<List<CodDenDTO>>("api/grupo");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Grupos = response.Response;
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task GetClientes()
    {
        try
        {
            if (info.CodGru != null && info.CodGru != GrupoSeleccionadoB)
            {
                var response = await repositorio.Get<List<CodDenDTO>>($"api/cliente/{info.CodGru}");
                if (response.Error)
                {
                    var message = await response.ObtenerMensajeError();
                    await swal.FireAsync("Error", message, SweetAlertIcon.Error);
                }
                else
                {
                    GrupoSeleccionadoB = info.CodGru;
                    Clientes = response.Response;
                    StateHasChanged();
                }
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

}

