@page "/crm/vendedor/{Id:int}"

@inject IRepositorio http
@inject SweetAlertService swal
@inject NavigationManager navigation
@attribute [Authorize(Roles = "Admin, VER_DETALLE_VENDEDORES")]

<AuthorizeView Roles="Admin, VER_DETALLE_VENDEDORES">
    <Authorized>
        <Card LoadingContent="loading_info">
            <Header>
                <div class="col-12 d-flex justify-content-between">
                    <b>Detalle de vendedor</b>
                    <NavLink class="g-1 btn gcom-bg-amarillo" onclick="history.back();" Match="NavLinkMatch.All">
                        <i class="fa fa-solid fa-arrow-left" /> Volver
                    </NavLink>
                </div>
            </Header>
            <Body>
                <Card HeaderText="Datos principales">
                    <Body>
                        <div class="col-12 row">
                            <div class="col-md-4 col-12">
                                <label><b>Nombre</b></label>
                                <p>@Vendedor.Nombre</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Apellidos</b></label>
                                <p>@Vendedor.Apellidos</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>División</b></label>
                                <p>@Vendedor.Division?.Nombre</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Titulo</b></label>
                                <p>@Vendedor.Titulo</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Departamento</b></label>
                                <p>@Vendedor.Departamento</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Teléfono de oficina</b></label>
                                <p>@Vendedor.Tel_Oficina</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Teléfono de móvil</b></label>
                                <p>@Vendedor.Tel_Movil</p>
                            </div>
                            <div class="col-md-4 col-12">
                                <label><b>Correo electrónico</b></label>
                                <p>@Vendedor.Correo</p>
                            </div>
                        </div>
                    </Body>
                </Card>
                <Card HeaderText="Contactos">
                    <Body>
                        <Tabla Datos="Vendedor.Contactos">
                            <Cabeceras>
                                <tr>
                                    <th>Contacto</th>
                                    <th>Cuenta</th>
                                    <th>Telfono movil</th>
                                    <th>Correo electronico</th>
                                    <th>Division</th>
                                    <AuthorizeView Roles="Admin, VER_DETALLE_CONTACTO">
                                        <Authorized Context="VERCONTACTO">
                                            <th>Detalle de contacto</th>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            </Cabeceras>
                            <Columnas Context="item">
                                <tr>
                                    <td>@item.Nombre @item.Apellidos</td>
                                    <td>@item.Cuenta</td>
                                    <td>@item.Tel_Movil</td>
                                    <td>@item.Correo</td>
                                    <td>@item.Division</td>
                                    <AuthorizeView Roles="Admin, VER_DETALLE_CONTACTO">
                                        <Authorized Context="VERCONTACTO">
                                            <td>
                                                <a class="btn gcom-bg-amarillo" href="crm/contacto/@item.Id">
                                                    <i class="fa fa-solid fa-eye" />
                                                </a>
                                            </td>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            </Columnas>
                        </Tabla>
                    </Body>
                </Card>
                <Card HeaderText="Equipos">
                    <Body>
                        <Tabla Datos="Vendedor.Equipos">
                            <Cabeceras>
                                <tr>
                                    <th>Equipo</th>
                                    <th>Lider del equipo</th>
                                    <th>Telfono movil del lider de equipo</th>
                                    <th>Correo del lider de equipo</th>
                                    <th>Division del equipo</th>
                                    <AuthorizeView Roles="Admin, VER_DETALLE_EQUIPO">
                                        <Authorized Context="VEREQUIPO">
                                            <th>Detalle de equipo</th>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            </Cabeceras>
                            <Columnas Context="item">
                                <tr>
                                    <td>@item.Nombre</td>
                                    <td>@item.Lider</td>
                                    <td>@item.TelMovil</td>
                                    <td>@item.Correo</td>
                                    <td>@item.Division</td>
                                    <AuthorizeView Roles="Admin, VER_DETALLE_EQUIPO">
                                        <Authorized Context="VEREQUIPO">
                                            <td>
                                                <a class="btn gcom-bg-amarillo" href="crm/equipo/@item.Id">
                                                    <i class="fa fa-solid fa-eye" />
                                                </a>
                                            </td>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            </Columnas>
                        </Tabla>
                    </Body>
                </Card>
                <Card HeaderText="Oportunidades">
                    <Body>
                        <Tabla Datos="Vendedor.Oportunidades">
                            <Cabeceras>
                                <tr>
                                    <th>Oportunidad</th>
                                    <th>Importe de la oportunidad</th>
                                    <th>Cuenta</th>
                                    <th>Contacto</th>
                                    <th>Etapa de venta</th>
                                    <AuthorizeView Roles="Admin, VER_DETALLE_OPORTUNIDAD">
                                        <Authorized Context="VEROPORTUNIDAD">
                                            <th>Detalle de oportunidad</th>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            </Cabeceras>
                            <Columnas Context="item">
                                <tr>
                                    <td>@item.Nombre_Opor</td>
                                    <td>$@item.ValorOportunidad.ToString("N", CultureInfo.InvariantCulture)</td>
                                    <td>@item.Cuenta</td>
                                    <td>@item.Contacto</td>
                                    <td>@item.EtapaVenta</td>
                                    <AuthorizeView Roles="Admin, VER_DETALLE_OPORTUNIDAD">
                                        <Authorized Context="VEROPORTUNIDAD">
                                            <td>
                                                <a class="btn gcom-bg-amarillo" href="crm/oportunidad/@item.Id">
                                                    <i class="fa fa-solid fa-eye" />
                                                </a>
                                            </td>
                                        </Authorized>
                                    </AuthorizeView>
                                </tr>
                            </Columnas>
                        </Tabla>
                    </Body>
                </Card>

            </Body>
        </Card>
    </Authorized>
    <NotAuthorized>
        <NoAutorizado />
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public int Id { get; set; } = 0;

    CRMVendedorDetalleDTO Vendedor = new();
    bool loading_info = false;

    protected override async Task OnParametersSetAsync()
    {
        await ObtenerVendedor();
    }

    private async Task ObtenerVendedor()
    {
        try
        {
            loading_info = true;
            var response = await http.Get<CRMVendedorDetalleDTO>($"api/crmvendedor/{Id}/detalle");
            if (response.Error)
            {
                loading_info = false;
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                loading_info = false;
                Vendedor = response.Response;
            }
        }
        catch (Exception e)
        {
            loading_info = false;
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }

    }
}
