@inject IRepositorio repositorio
@inject SweetAlertService Swal
@inject DialogService ds

<div class="col-12 row">
    <div class="col-8">
        <label><b>Filtro de cierres de órdenes</b></label>
    </div>
</div>
<div class="col-12 row">
    <div class="col-3 mb-2">
        <div class="col-12">
            <label>Grupo empresarial</label>
            <RadzenDropDown Data="Grupos" class="col-12" TextProperty="Den" ValueProperty="Cod" @bind-Value="fechas.codGru"
                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowVirtualization="true" AllowClear="true" />
        </div>
    </div>
    @*<div class="col-3 mb-2">
        <div class="col-12">
            <label>Cliente</label>
            <RadzenDropDown Data="ClientesFiltro" class="col-12" TextProperty="Den" ValueProperty="Cod" @bind-Value="fechas.codCte"
                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowVirtualization="true" AllowClear="true" />
        </div>
    </div>*@
    <div class="col-3 mb-2">
        <label>Del:</label>
        <InputDate class="form-control col-12" Type="InputDateType.DateTimeLocal" @bind-Value="fechas.FchInicio" @bind-Value:format="yyyy-MM-dd hh:MM:ss" />
    </div>
    <div class="col-3 mb-2">
        <label>A:</label>
        <InputDate class="form-control col-12" Type="InputDateType.DateTimeLocal" @bind-Value="fechas.FchFin" @bind-Value:format="yyyy-MM-dd hh:MM:ss" />
    </div>
    <div class="col-2 mt-2">
        <label></label>
        <button class="col-12 btn gcom-bg-amarillo" @onclick="@GetCierresActivos">
            <i class="fa fa-solid fa-magnifying-glass"></i> Buscar
        </button>
    </div>
</div>
<RadzenDataGrid TItem="FolioCierreDTO" Data="@Folios" AllowColumnResize="true" AllowVirtualization="true" AllowPickAllColumns="true"
                GridLines="DataGridGridLines.Both" Style="height:600px;" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                IsLoading="loading" @ref="@grid" AllowSorting="true" AllowFiltering="true" AllowColumnPicking="true">
    <Columns>
        <RadzenDataGridColumn TItem="FolioCierreDTO" Title="Fecha de Cierre" Property="FchCierre" FormatString="{0:d}" Filterable="false" Width="140px" />
        <RadzenDataGridColumn TItem="FolioCierreDTO" Title="Folio del cierre" Property="Folio" Filterable="false" Width="200px;" />
        <RadzenDataGridColumn TItem="FolioCierreDTO" Title="Cliente" Filterable="false">
            <Template Context="data">
                @(data.cliente is not null ? data.cliente.Den : "Sin clientes")
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="FolioCierreDTO" Title="Destino" Filterable="false">
            <Template Context="data">
                @(data.destino is not null ? data.destino.Den : "Sin destino")
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="FolioCierreDTO" Title="Producto" FilterValue="ProductoSeleccionado" Property="Producto.Den">
            <FilterTemplate Context="filter">
                <RadzenDropDown Data="ProductList" @bind-Value="ProductoSeleccionado" AllowFiltering="true" AllowClear="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive">
                    <ValueTemplate Context="data">
                        <InputText class="form-control col-12" @bind-Value="ProductoSeleccionado" MaxLength="190" />
                    </ValueTemplate>
                </RadzenDropDown>
            </FilterTemplate>
            <Template Context="data">
                <div class="col-12 row">
                    <div class="col-1">
                        @if (data.Producto.Cod == 25 || data.Producto.Cod == 26 || data.Producto.Cod == 27)
                        {
                            <div class="badge rounded-pill regular">&nbsp;</div>
                        }
                        else if (data.Producto.Cod == 11 || data.Producto.Cod == 12 || data.Producto.Cod == 116)
                        {
                            <div class="badge rounded-pill regular-vdm">&nbsp;</div>
                        }
                        else if (data.Producto.Cod == 19 || data.Producto.Cod == 20 || data.Producto.Cod == 21)
                        {
                            <div class="badge rounded-pill premium">&nbsp;</div>
                        }
                        else
                        {
                            <div class="badge rounded-pill diesel">&nbsp;</div>
                        }
                    </div>
                    <div class="col-11">
                        @data.Producto?.Den
                    </div>
                </div>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


@code {
    [Parameter] public bool isStatus { get; set; } = false;

    CierreDiarioDTO fechas { get; set; } = new CierreDiarioDTO();
    private IEnumerable<Grupo> Grupos { get; set; } = null!;
    private short? GrupoSeleccionadoB = 0;

    private string ProductoSeleccionado = string.Empty;
    private IEnumerable<string> ProductList { get; set; } = new List<string>();

    private string DestinoSeleccionado = string.Empty;
    private IEnumerable<string> DestinoList { get; set; } = new List<string>();

    private List<FolioCierreDTO> Folios { get; set; } = new List<FolioCierreDTO>();
    RadzenDataGrid<FolioCierreDTO> grid { get; set; } = new RadzenDataGrid<FolioCierreDTO>();

    bool loading = false;

    protected override async Task OnInitializedAsync()
    {
        await GetGrupos();
    }

    private async Task GetGrupos()
    {
        try
        {
            var httpResponse = await repositorio.Get<IEnumerable<Grupo>>("api/grupo/all");
            if (httpResponse.Error)
            {
                var message = await httpResponse.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Grupos = httpResponse.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    //private async Task GetClientes()
    //{
    //    try
    //    {
    //        if (fechas.codGru != null && GrupoSeleccionadoB != fechas.codGru)
    //        {
    //            var httpResponse = await repositorio.Get<List<CodDenDTO>>($"api/cliente/{fechas.codGru}");
    //            if (httpResponse.Error)
    //            {
    //                var message = await httpResponse.ObtenerMensajeError();
    //                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
    //            }
    //            else
    //            {
    //                GrupoSeleccionadoB = fechas.codGru;
    //                ClientesFiltro = httpResponse.Response;
    //                StateHasChanged();
    //            }
    //        }
    //    }
    //    catch (Exception e)
    //    {
    //        await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
    //        throw e;
    //    }
    //}

    public async Task GetCierresActivos()
    {
        try
        {
            var responseHttp = await repositorio.Post<CierreDiarioDTO, List<FolioCierreDTO>>("api/cierre/cierregrupo/detalle", fechas);
            if (responseHttp.Error)
            {
                var message = await responseHttp.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Folios = responseHttp.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

}
