@page "/configuracion/vendedores"

@inject IRepositorio http
@inject SweetAlertService Swal
@inject NotificationService ms

<div class="card">
    <div class="card-header">
        <b>Configurar vendedor</b>
    </div>
    <div class="card-body">
        <div class="col-12">
            <EditForm Model="Vendedor" OnValidSubmit="Crear_Vendedor" class="form row">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="col-4">
                    <InputText @bind-Value="@Vendedor.Nombre" class="form-control form-control-sm" />
                    <ValidationMessage For="@(()=> Vendedor.Nombre)" />
                </div>
                <div class="col-4">
                    <button class="btn btn-sm col-12 gcom-bg-amarillo" type="submit">
                        Guardar
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>
<div class="col-12">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@Vendedores" TItem="Vendedor" Context="item">
                <tr>
                    <td>@item.Nombre</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" checked="@item.Activo" value="@item.Activo" @onchange="@(()=>Desactivar_Activar_Vendedor(item))" />
                        </div>
                    </td>
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>
@code {
    Vendedor Vendedor { get; set; } = new();
    List<Vendedor> Vendedores { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await Obtener_Vendedores();
    }

    private async Task Obtener_Vendedores()
    {
        var response = await http.Get<List<Vendedor>>($"api/vendedor");
        if (response.Error)
        {
            var message = await response.ObtenerMensajeError();
            await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            Vendedores = response.Response;
        }
    }

    private async Task Crear_Vendedor()
    {
        try
        {
            var response = await http.Post<Vendedor>($"api/vendedor", Vendedor);
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                await Obtener_Vendedores();
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Desactivar_Activar_Vendedor(Vendedor vendedor)
    {
        var response = await http.Post<Vendedor>($"api/vendedor", vendedor);
        if (response.Error)
        {
            var message = await response.ObtenerMensajeError();
            await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
        }
        else
        {
            await Obtener_Vendedores();
        }
    }
}
