@inject IRepositorio http
@inject SweetAlertService Swal
@inject TooltipService ts
@inject IJSRuntime js
@inject PedidoOrdenValidation validation
@inject DialogService ds

@attribute [Authorize(Roles = "Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador")]

<AuthorizeView Roles="Admin, Administrador Sistema, Ejecutivo de Cuenta Operativo, Programador" Context="Create">
    @if (Loading_Detalle)
    {
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    }
    <div class="col-12 card shadow">
        <div class="card-body">
            <div class="col-12 row">
                <div class="col-2">
                    <button class="btn gcom-bg-amarillo col-12 btn-sm" type="button" @onclick="@(()=>CancelCreation.InvokeAsync(new Folio_Activo_Vigente()))">
                        <i class="fa fa-solid fa-arrow-left"></i>
                        <b>Regresar</b>
                    </button>
                </div>
                <div class="col-4">
                    <p><b>Crear orden del pedido @Folio_Seleccionado</b></p>
                </div>
                <div class="col row d-flex justify-content-start">
                    <RadzenStack Orientation="Orientation.Horizontal">
                        <RadzenText Text="Precio automatico" />
                        <RadzenSwitch @bind-Value="@ordenCierre.Precio_Manual" Change="@(()=>ChangePrecioType())" />
                    </RadzenStack>
                </div>
            </div>
            <EditForm Model="@ordenCierre" class="form col-12" OnValidSubmit="@GetFolio">
                <FluentValidationValidator Validator="validation" />
                <ValidationSummary />
                <div class="row col-12">
                    <div class="col-4">
                        <div class="col-12">
                            <label>Terminal</label>
                            <RadzenDropDown Data="Terminales" class="col-12" TextProperty="Den" ValueProperty="Cod" @bind-Value="ordenCierre.CodTad"
                                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            AllowVirtualization="true" Style="height:31px;">
                                <Template Context="data">
                                    <RadzenText TextStyle="TextStyle.Body2">
                                        @((data as Tad)?.Den)
                                    </RadzenText>
                                </Template>
                                <ValueTemplate Context="data">
                                    <RadzenText TextStyle="TextStyle.Body2">
                                        @((data as Tad)?.Den)
                                    </RadzenText>
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-12">
                            <label>Grupo</label>
                            <RadzenDropDown Data="Grupos" class="col-12" TextProperty="Den" ValueProperty="Cod" @bind-Value="ordenCierre.CodGru"
                                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            AllowVirtualization="true" Change="@GetClientes" Disabled="isFolio && !ordenCierre.IsCierreVolumen" Style="height:31px;">
                                <Template Context="data">
                                    <RadzenText TextStyle="TextStyle.Body2">
                                        @((data as Grupo)?.Den)
                                    </RadzenText>
                                </Template>
                                <ValueTemplate Context="data">
                                    <RadzenText TextStyle="TextStyle.Body2">
                                        @((data as Grupo)?.Den)
                                    </RadzenText>
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-12">
                            <label>Cliente</label>
                            <RadzenDropDown Data="Clientes" class="col-12" TextProperty="Den" ValueProperty="Cod" @bind-Value="ordenCierre.CodCte"
                                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            AllowVirtualization="true" Change="@GetEstaciones" Disabled="isFolio && !ordenCierre.IsCierreVolumen" Style="height:31px;">
                                <Template Context="data">
                                    <RadzenText TextStyle="TextStyle.Body2">
                                        @((data as CodDenDTO)?.Den)
                                    </RadzenText>
                                </Template>
                                <ValueTemplate Context="data">
                                    <RadzenText TextStyle="TextStyle.Body2">
                                        @((data as CodDenDTO)?.Den)
                                    </RadzenText>
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-12">
                            <label>Destino</label>
                            <RadzenDropDown Data="Estaciones" class="col-12" TextProperty="Den" ValueProperty="Cod" @bind-Value="ordenCierre.CodDes"
                                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Change="@GetPrecios"
                                            AllowVirtualization="true" Disabled="isFolio && !ordenCierre.IsCierreVolumen" Style="height:31px;">
                                <Template Context="data">
                                    <RadzenText TextStyle="TextStyle.Body2">
                                        @((data as CodDenDTO)?.Den)
                                    </RadzenText>
                                </Template>
                                <ValueTemplate Context="data">
                                    <RadzenText TextStyle="TextStyle.Body2">
                                        @((data as CodDenDTO)?.Den)
                                    </RadzenText>
                                </ValueTemplate>
                            </RadzenDropDown>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-12">
                            <label>Producto</label>
                            <div class="col-12">
                                @if (!Es_Cierre_Individual)
                                {
                                    <RadzenDropDown Data="Precios" class="col-12" TextProperty="Producto.Den" ValueProperty="Producto.Cod" @bind-Value="ordenCierre.CodPrd"
                                                    AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Change="@ChangeProducto"
                                                    AllowVirtualization="true" Disabled="isFolio && !ordenCierre.IsCierreVolumen" Style="height:31px;">
                                        <Template Context="data">
                                            <RadzenText TextStyle="TextStyle.Body2">
                                                @((data as Precio).Producto.Den) | $@((data as Precio).Pre)
                                                <RadzenBadge Variant="Variant.Outlined" Text="@((data as Precio)?.FchDia.ToShortDateString())" />
                                            </RadzenText>
                                        </Template>
                                        <ValueTemplate Context="data">
                                            <RadzenText TextStyle="TextStyle.Body2">
                                                @((data as Precio).Producto.Den) | $@((data as Precio).Pre)
                                            </RadzenText>
                                        </ValueTemplate>
                                    </RadzenDropDown>
                                }
                                else
                                {
                                    @if (!string.IsNullOrEmpty(PrecioDetalle?.NombreProducto))
                                    {
                                        <p>
                                            @PrecioDetalle?.NombreProducto
                                            @(ordenCierre.Precio_Manual ? $"| {PrecioDetalle?.Pre}" : "")
                                            @(ordenCierre.Precio_Manual ? $"| {PrecioDetalle?.Moneda}" : "")
                                        </p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @if (!ordenCierre.IsDifferentVol)
                    {
                        <div class="col-2">
                            <div class="col-12">
                                <label>Volumen</label>

                                <InputSelect @bind-Value="ordenCierre.Volumen" class="form-select form-select-sm" disabled="@(isFolio && !ordenCierre.IsCierreVolumen)">
                                    <option>-- Selecciona una opcion --</option>
                                    @if (Cantidades is null)
                                    {
                                        <option disabled> Cargando ...</option>
                                    }
                                    else if (Cantidades.Count == 0)
                                    {
                                        <option disabled> No hay capacidades</option>
                                    }
                                    else
                                    {
                                        foreach (var item in Cantidades)
                                        {
                                            <option value="@item">  @string.Format(new System.Globalization.CultureInfo("en-US"), "{0:N2}", @item)</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    }

                    @if (ordenCierre.IsDifferentVol)
                    {
                        <div class="col-2">
                            <div class="col-12">
                                <label>Volumen</label>
                                <InputNumber class="form-control col-12 form-control-sm" @bind-Value="ordenCierre.Volumen" disabled="@(isFolio  && !ordenCierre.IsCierreVolumen)" />
                            </div>
                        </div>
                    }

                    <div class="col-2 d-flex">
                        <div class="col-12 my-auto d-flex">
                            <RadzenCheckBox @bind-Value=@ordenCierre.IsDifferentVol Name="CheckBox1" class="me-2" Disabled="isFolio && !ordenCierre.IsCierreVolumen" />
                            <div class="col-12 row p-0" @onmouseenter="@(args => ShowTooltipVolumen(infoIconVolumen))" @ref="infoIconVolumen">
                                <label for="CheckBox1">
                                    Volumen Libre <i class="fa-solid fa-circle-info fa-xs"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="col-12">
                            <label>Fecha de carga en terminal</label>
                            <input type="date" class="col-12 form-control form-control-sm" @bind="@ordenCierre.FchCar" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="col-12">
                            <label>Fecha estimada de llegada</label>
                            <input type="date" class="col-12 form-control form-control-sm" @bind="@ordenCierre.FchLlegada" />
                        </div>
                    </div>
                    @if (!ordenCierre.IsDifferentTurn)
                    {
                        <div class="col-2">
                            <div class="col-12">
                                <label>Turno</label>
                                <InputSelect @bind-Value="ordenCierre.Turno" class="form-select form-select-sm">
                                    <option>-- Selecciona una opcion --</option>
                                    @if (Turnos is null)
                                    {
                                        <option disabled> Cargando ...</option>
                                    }
                                    else if (Turnos.Count == 0)
                                    {
                                        <option disabled> No hay capacidades</option>
                                    }
                                    else
                                    {
                                        foreach (var item in Turnos)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </InputSelect>
                            </div>
                        </div>
                    }
                    @if (ordenCierre.IsDifferentTurn)
                    {
                        <div class="col-2">
                            <div class="col-12">
                                <label>Turno</label>
                                <InputText class="form-control col-12 form-control-sm" @bind-Value="ordenCierre.Turno" />
                            </div>
                        </div>
                    }
                    <div class="col-2 mb-1 d-flex">
                        <div class="col-12 my-auto d-flex">
                            <RadzenCheckBox @bind-Value=@ordenCierre.IsDifferentTurn Name="CheckBox2" class="me-2" />
                            <div class="col-12 row p-0" @onmouseenter="@(args => ShowTooltipTurno(infoIconVolumen))" @ref="infoIconVolumen">
                                <label for="CheckBox2">
                                    Turno Libre <i class="fa-solid fa-circle-info fa-xs"></i>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="col-12">
                            @if (ordenCierre.Precio_Manual)
                            {
                                <div>
                                    <label>
                                        Precio <i class="fa-solid fa-circle-info fa-xs"></i>
                                    </label>
                                    <input type="number" class="form-control form-control-sm col-12 disabled" @bind="ordenCierre.Precio" disabled />
                                </div>
                            }
                            else
                            {
                                <div>
                                    <label>
                                        Precio <i class="fa-solid fa-circle-info fa-xs"></i>
                                    </label>
                                    <input type="number" step="0.0001" class="form-control form-control-sm col-12" @bind="@ordenCierre.Precio" />
                                </div>
                            }

                            @*<InputNumber class="form-control col-12" TValue="double" @bind-Value="@ordenCierre.Precio" disabled="true"></InputNumber>*@
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center mt-1 row">
                    @if (isEditing)
                    {
                        <div class="col-4">
                            <button class="btn gcom-bg-amarillo col-12 btn-sm" type="button" @onclick="@EditPedido">
                                <i class="fa fa-solid fa-plus"></i>
                                <b>Guardar Cambio</b>
                                @if (loadingAgregar)
                                {
                                    <SpinnerLoading></SpinnerLoading>
                                }
                            </button>
                        </div>
                        <div class="col-4">
                            <button class="btn gcom-bg-amarillo col-12 btn-sm" type="button" @onclick="@CancelEdit">
                                <i class="fa fa-solid fa-xmark"></i>
                                <b>Cancelar Cambio</b>
                            </button>
                        </div>
                    }
                    @if (!isEditing && !Es_Orden_Copiada)
                    {

                        <div class="col-4">
                            <button class="btn gcom-bg-amarillo col-12 btn-sm @(SendOrden || Loading_Detalle ? "disabled" : "" )" type="submit" disabled="@(SendOrden || Loading_Detalle)">
                                <i class="fa fa-solid fa-check"></i>
                                <b>Crear orden</b>
                                @if (SendOrden)
                                {
                                    <SpinnerLoading></SpinnerLoading>
                                }
                            </button>
                        </div>

                        <div class="col-4">
                            <button class="btn gcom-bg-amarillo col-12 btn-sm @(SendOrden || Loading_Detalle ? "disabled" : "" )" type="button" @onclick="@ConfirmPedido" disabled="@(SendOrden || Loading_Detalle)">
                                <i class="fa fa-solid fa-check"></i>
                                <b>Confirmar ordenes</b>
                                @if (loadingConfirm)
                                {
                                    <SpinnerLoading></SpinnerLoading>
                                }
                            </button>
                        </div>

                    }
                </div>
            </EditForm>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center row">
        <div class="col-12 overflow-scroll ancho mt-4" style="height:450px;resize:both;">
            <table class="table table-sm table-bordered table-hover" id="miTabla">
                <thead class="fila">
                    <tr style="max-height:50px;white-space:nowrap;">
                        <th class="sticky-column" style="background-color:white;max-width:180px;min-width:180px;width:120px;">
                            editar / cancelar
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                            Folio
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                            Bin
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                            Terminal
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                            Destino
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                            Producto
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                            Volumen
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                            Precio
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                            Fecha de carga
                        </th>
                        <th class="th-resizable overflow-hidden" style="min-width:20px;width:80px;">
                            Estado
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="@ordenCierres" Context="item" TItem="OrdenCierre">
                        <tr class="@(ordenCierre.Cod == item.Cod ? "table-active" : string.Empty)" style="white-space:nowrap;">
                            <td class="sticky-column" style="background-color:white;">
                                <div class="col-12 row">
                                    @if (item.OrdenEmbarque is not null && item.Estatus == true)
                                    {
                                        @if (item.OrdenEmbarque.CodordCom == null)
                                        {
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-primary col-12" @onclick="@(()=>SetEdit(item))"><i class="fa fa-solid fa-pen-to-square"></i></button>
                                            </div>
                                        }
                                        @if (string.IsNullOrEmpty(item.OrdenEmbarque.Bolguidid))
                                        {
                                            <div class="col-6">
                                                <button class="btn btn-sm btn-danger col-12" @onclick="@(()=>CancelPedido(item))"><i class="fa fa-solid fa-cancel"></i></button>
                                            </div>
                                        }
                                    }
                                </div>
                            </td>
                            <td class="overflow-hidden">
                                <div class="rz-text-truncate">
                                    @item?.Folio
                                </div>
                            </td>
                            <td class="overflow-hidden">
                                <div class="rz-text-truncate">
                                    @item?.OrdenEmbarque?.Bin
                                </div>
                            </td>
                            <td class="overflow-hidden">
                                <div class="rz-text-truncate">
                                    @item?.OrdenEmbarque?.Tad?.Den
                                </div>
                            </td>
                            <td class="overflow-hidden">@item?.Destino?.Den</td>
                            <td class="overflow-hidden">@item?.Producto?.Den</td>
                            <td class="overflow-hidden">
                                <div class="col-12">
                                    <div class="col-12">
                                        @string.Format(new System.Globalization.CultureInfo("en-US"), "{0:N2}",
                                        item?.OrdenEmbarque?.Orden is not null ? item?.OrdenEmbarque?.Orden?.Vol :
                                        item?.OrdenEmbarque?.Compartment == 1 && item.OrdenEmbarque?.Tonel is not null ? item?.OrdenEmbarque?.Tonel?.Capcom
                                        : item?.OrdenEmbarque?.Compartment == 2 && item.OrdenEmbarque?.Tonel is not null ? item?.OrdenEmbarque?.Tonel?.Capcom2
                                        : item?.OrdenEmbarque?.Compartment == 3 && item.OrdenEmbarque?.Tonel is not null ? item?.OrdenEmbarque?.Tonel?.Capcom3
                                        : item?.OrdenEmbarque?.Compartment == 4 && item.OrdenEmbarque?.Tonel is not null ? item?.OrdenEmbarque?.Tonel?.Capcom4
                                        : item?.Volumen
                                        )
                                    </div>
                                </div>
                            </td>
                            <td class="overflow-hidden">@item?.OrdenEmbarque?.Pre</td>
                            <td class="overflow-hidden">@item?.OrdenEmbarque?.Fchcar?.ToString("dd/MM/yyyy")</td>
                            <td class="overflow-hidden">@item?.OrdenEmbarque?.Estado?.den</td>
                        </tr>
                    </Virtualize>
                </tbody>
            </table>
        </div>
        <div class="col-12 row m-0">
            <div class="col-3">
                <p class="text-muted">
                    Ordenes totales: @ordenCierres.Count
                </p>
            </div>
        </div>
        @if (ordenCierre.IsCierreVolumen is true && Producto_Volumen.Count > 0)
        {
            <VolumenesPedido volumenes="Producto_Volumen"></VolumenesPedido>
        }
    </div>
</AuthorizeView>

<style type="text/css">
    .ancho {
        width: @TotalWidth;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 12px;
        text-align: left;
        table-layout: fixed;
    }

    table, th, td {
        background-color: white;
    }

    .fila th {
        position: -webkit-sticky;
        position: sticky;
        text-align: center;
        top: 0;
        background-color: #f2f2f2;
    }

    .ancho {
        width: @TotalWidth;
    }

    tr:hover {
        background-color: #FFF633;
    }

    tr:active {
        background-color: #FFF633;
    }

    .asignar {
        table-layout: auto;
        width: auto;
    }

    .sticky-column {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: white;
    }

        .sticky-column, .sticky-column + th, .sticky-column + td {
            min-width: 180px;
        }

    .table-container {
        overflow: auto;
        width: 100%;
        border: 1px solid #ccc;
        max-height: 400px; /* Establece una altura máxima si es necesario */
    }

    th, td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    .th-resizable {
        position: relative;
        cursor: col-resize;
    }

        .th-resizable::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 8px; /* Ancho del área de redimensionamiento */
            background: transparent;
        }

    .dropdown-content {
        position: absolute;
        background-color: #f6f6f6;
        border: 1px solid #ccc;
        max-height: 300px;
        z-index: 2;
        overflow: auto;
        list-style: none;
        max-width: 25%;
        font-size: 12px;
    }
</style>

@code {
    [Parameter] public string Folio_Seleccionado { get; set; } = string.Empty;
    [Parameter] public byte? Producto_Pedido { get; set; } = 0;
    [Parameter] public int ID_Cierre { get; set; } = 0;
    [Parameter] public EventCallback<Folio_Activo_Vigente> CancelCreation { get; set; }

    CierreFiltroDTO filtro { get; set; } = new CierreFiltroDTO();

    public List<string> Turnos { get; set; } = new List<string>() { "11:00 pm - 7:00 am", "7:00 am - 3:00 pm", "3:00 pm - 11:00 pm" };

    //grid
    private RadzenDataGrid<OrdenCierre> gridOC = new RadzenDataGrid<OrdenCierre>();

    private OrdenEmbarque ordenEmbarque { get; set; } = new OrdenEmbarque();
    private List<OrdenEmbarque> ordens { get; set; } = new List<OrdenEmbarque>();

    private List<OrdenCierre> ordenCierres { get; set; } = new List<OrdenCierre>();
    private OrdenCierre ordenCierre { get; set; } = new OrdenCierre() { OrdenEmbarque = new OrdenEmbarque() { Producto = new Producto() } };
    private List<ProductoVolumen> Producto_Volumen { get; set; } = new List<ProductoVolumen>();

    //listas
    private List<Tad> Terminales { get; set; } = null!;
    private IEnumerable<Grupo> Grupos { get; set; } = null!;
    private List<CodDenDTO> Clientes { get; set; } = null!;
    private List<CodDenDTO> Estaciones { get; set; } = null!;
    private List<Precio> Precios { get; set; } = new List<Precio>();
    private List<Producto> Productos { get; set; } = new List<Producto>();
    private List<Precio> ProductosDisponibles { get; set; } = null!;
    private IEnumerable<CodDenDTO> Destino { get; set; } = null!;
    private List<int> Cantidades { get; set; } = null!;
    private List<string> Folios { get; set; } = new List<string>();
    private Precio? PrecioDetalle { get; set; } = new Precio();
    private float Precio = 0;

    private string folio { get; set; } = string.Empty;

    bool loadingAgregar = false;
    bool loadingConfirm = false;
    bool loading = false;
    bool IsDifferentVol = false;
    bool isFolio = false;
    bool isEditing = false;
    bool IsCierreVolumen = false;
    bool SendOrden = false;
    bool Loading_Detalle = true;
    bool Es_Cierre_Individual = false;
    bool Puede_Buscar_Cliente_Destino = false;
    bool Es_Orden_Copiada = false;

    private byte? CodProductoSeleccionado = 0;
    private int? DestinoSeleccionado = 0;
    private Int16? GrupoSeleccionado = 0;
    private int? ClienteSeleccionado = 0;
    private short GrupoSeleccionadoFiltro = 0;
    private short GrupoSeleccionadoFiltroB = 0;
    private int ClienteSeleccionadoFiltro = 0;

    private Cliente Cliente { get; set; } = new Cliente();
    private List<CodDenDTO> ClientesFiltro { get; set; } = null!;

    private List<int> ordenPendientes = new List<int>();

    ElementReference infoIconVolumen;
    ElementReference infoFolio;

    int width = 0;
    string TotalWidth = string.Empty;
    bool isClose = false;
    private bool show = false;
    int count = 0;

    CierreFiltroDTO fechas { get; set; } = new CierreFiltroDTO();

    Dictionary<string, string> queryStringObject = new Dictionary<string, string>();
    Dictionary<string, string> queryStringObjectFolios = new Dictionary<string, string>();
    Dictionary<string, string> query = new Dictionary<string, string>();

    public List<ListadoFolioDetalle> folioDetalles { get; set; } = new List<ListadoFolioDetalle>();
    private string folioSearch = string.Empty;
    private IList<ListadoFolioDetalle> foliosFiltro { get; set; } = new List<ListadoFolioDetalle>();

    protected override async Task OnAfterRenderAsync(bool first)
    {
        if (first)
        {
            var cm = await js.GetItemLocalStorage("CloseMenu");
            if (!string.IsNullOrEmpty(cm))
                isClose = bool.Parse(cm);

            if (isClose)
                width = await js.InvokeAsync<int>("eval", "window.innerWidth") - 110;
            else
                width = await js.InvokeAsync<int>("eval", "window.innerWidth") - 360;

            if (width < 0)
                width = 500;
            TotalWidth = $"{width}px";
            // await js.InvokeVoidAsync("columnSize.SetTable","miTabla", DotNetObjectReference.Create(this));
            await js.InvokeVoidAsync("importarScript", "js/resizableTable.js");
            // await LoadStateAsync();
            // StateHasChanged();

        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await GetTerminales();
        await GetCantidades();
        // await GetFiltroCierres();
        if (ID_Cierre != 0)
            Es_Cierre_Individual = true;
        else
            Es_Cierre_Individual = false;

        if (ID_Cierre != 0)
            await Obtener_Detalle_Cierre();
        else
            await Obtener_Detalle_Cierre_General();

        StateHasChanged();
    }

    private void ClearGridData()
    {
        count = 0;
        ordenCierres = new List<OrdenCierre>();
        ordenCierre = new OrdenCierre() { OrdenEmbarque = new OrdenEmbarque() };
        isEditing = false;
        ordenCierre.IsCierreVolumen = false;
        isFolio = false;
        filtro.Folio = string.Empty;
    }

    void ShowTooltipVolumen(ElementReference elementReference, TooltipOptions options = null!) => ts.Open(elementReference, "Introduzca una cantidad diferente.", options);
    void ShowTooltipTurno(ElementReference elementReference, TooltipOptions options = null!) => ts.Open(elementReference, "Introduzca un turno de forma manual.", options);
    void ShowTooltip(ElementReference elementReference, TooltipOptions options = null!) =>
    ts.Open(elementReference, "El Folio se llenara automaticamente al crear el pedido.", options);

    private void changeEdit()
    {
        if (!Cantidades.Any(x => x == ordenCierre.Volumen))
            ordenCierre.IsDifferentVol = true;
        else
            ordenCierre.IsDifferentVol = false;
        isEditing = !isEditing;
    }

    private async Task CancelPedido(OrdenCierre orden)
    {
        try
        {
            var confirm = await Swal.FireAsync(new SweetAlertOptions
                {
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Aceptar",
                    CancelButtonText = "Cancelar",
                    Text = "¿Desea cancelar la orden?"
                });

            if (!string.IsNullOrEmpty(confirm.Value))
            {

                var responseOC = await http.Delete($"api/cierre/{orden.Cod}/cancel");
                if (responseOC.Error)
                {
                    var responseHttp = await responseOC.ObtenerMensajeError();
                    await Swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
                }
                else
                {
                    var response = await http.Delete($"api/pedido/{orden.OrdenEmbarque.Cod}/cancel");
                    if (response.Error)
                    {
                        var responseHttp = await response.ObtenerMensajeError();
                        await Swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
                    }
                    else
                    {
                        await Swal.FireAsync("Orden cancelada", $"La orden ha sido cancelada.", SweetAlertIcon.Info);
                        ordenCierres.Remove(orden);
                        await GetVolumenActivo();
                    }
                }
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task GetTerminales()
    {
        try
        {
            var response = await http.Get<List<Tad>>("api/terminal");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Terminales = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task GetGrupos()
    {
        try
        {
            var response = await http.Get<IEnumerable<Grupo>>("api/grupo/all");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Grupos = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task GetProductos()
    {
        try
        {
            var response = await http.Get<List<Producto>>("api/producto");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
            }
            else
            {
                Productos = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task GetCantidades()
    {
        try
        {
            var response = await http.Get<List<int>>("api/cantidad");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Cantidades = response.Response;
                Cantidades.OrderBy(x => x);
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task ConfirmPedido()
    {
        loadingConfirm = true;
        try
        {
            if (ordenCierres.Count != 0)
            {
                ordens = new List<OrdenEmbarque>();
                foreach (var item in ordenCierres)
                    if (item.OrdenEmbarque!.CodordCom == null && item.OrdenEmbarque.Codtad != 0 && item.Estatus == true)
                        ordens.Add(item.OrdenEmbarque!);

                if (ordens.Count > 0)
                {
                    var response = await http.Post<List<OrdenEmbarque>, OrdenCompra>("api/pedido/confirm", ordens);
                    if (response.Error)
                    {
                        loadingConfirm = false;
                        string? message = await response.ObtenerMensajeError();
                        await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                    }
                    else
                    {
                        loadingConfirm = false;
                        await Swal.FireAsync("Folio", response.Response.den, SweetAlertIcon.Info);
                        ClearGridData();
                    }
                }
                else
                {
                    loadingAgregar = false;
                    loadingConfirm = false;

                    await Swal.FireAsync("Sin ordenes", "No tiene ordenes para confirmar", SweetAlertIcon.Info);
                }
            }
            else
            {
                loadingConfirm = false;
                loadingAgregar = false;
                await Swal.FireAsync("Advertencia", "Debe tener ordenes para poder confirmarlas", SweetAlertIcon.Warning);
            }
        }
        catch (Exception e)
        {
            loadingConfirm = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task EditPedido()
    {
        loadingAgregar = true;
        try
        {
            var response = await http.Post<OrdenCierre, OrdenCierre>("api/pedido/update", ordenCierre);
            if (response.Error)
            {
                loadingAgregar = false;
                string? message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                loadingAgregar = false;
                // CancelEdit();
                // await GetFiltroCierres();
                var index = ordenCierres.IndexOf(ordenCierres.FirstOrDefault(x => x.Cod == response.Response.Cod)!);
                ordenCierres.RemoveAt(index);
                ordenCierres.Insert(index, response.Response);
            }
        }
        catch (Exception e)
        {
            loadingAgregar = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async void SetEdit(OrdenCierre? orden)
    {
        try
        {
            if (orden is null)
            {
                await Swal.FireAsync("Error", "No se selecciono ninguna orden", SweetAlertIcon.Error);
                return;
            }

            ordenCierre = orden;

            await GetClientes();
            await GetEstaciones();
            await GetPrecios();

            if (!Cantidades.Any(x => x == ordenCierre.Volumen))
                ordenCierre.IsDifferentVol = true;
            else
                ordenCierre.IsDifferentVol = false;

            isEditing = true;

            // gridOC?.SelectRow(orden);

            StateHasChanged();
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task GetEstaciones()
    {
        try
        {
            if (Es_Cierre_Individual || Es_Orden_Copiada)
                if (Puede_Buscar_Cliente_Destino)
                    if (ordenCierre.CodCte != null && ClienteSeleccionado != ordenCierre.CodCte)
                    {
                        var response = await http.Get<List<CodDenDTO>>($"api/estacion/{ordenCierre.CodCte}");
                        if (response.Error)
                        {
                            var responseHttp = await response.ObtenerMensajeError();
                            await Swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
                        }
                        else
                        {
                            Estaciones = response.Response;
                            ClienteSeleccionado = ordenCierre.CodCte;
                            StateHasChanged();
                        }
                    }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    public async Task GetClientes()
    {
        try
        {
            if (!Es_Cierre_Individual || Es_Orden_Copiada)
                if (Puede_Buscar_Cliente_Destino)
                    if (ordenCierre.CodGru != null && GrupoSeleccionado != ordenCierre.CodGru)
                    {
                        var response = await http.Get<List<CodDenDTO>>($"api/cliente/{ordenCierre.CodGru}");
                        if (response.Error)
                        {
                            var message = await response.ObtenerMensajeError();
                            await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                        }
                        else
                        {
                            GrupoSeleccionado = ordenCierre.CodGru;
                            Clientes = response.Response;
                            StateHasChanged();
                        }
                    }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task GetFiltroCierres()
    {
        try
        {
            isFolio = true;
            if (!string.IsNullOrEmpty(Folio_Seleccionado))
            {
                filtro.Folio = Folio_Seleccionado;
                filtro.forFolio = true;
                if (!string.IsNullOrEmpty(filtro.Folio))
                {
                    var response = await http.Post<CierreFiltroDTO, List<OrdenCierre>>("api/cierre/filtrar", filtro);
                    if (response.Error)
                    {
                        var message = await response.ObtenerMensajeError();
                        await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                    }
                    else
                    {
                        if (response.Response.Count > 0)
                            if (response.Response.FirstOrDefault()!.CodPed == 0)
                            {
                                ordenCierre.IsCierreVolumen = true;
                                ordenCierre.Folio_Perteneciente = filtro.Folio;
                                filtro.forFolio = true;
                                ordenCierre.CodGru = response.Response.FirstOrDefault()?.CodGru;
                                await GetGrupos();
                                ordenCierre.CodCte = response.Response.FirstOrDefault()?.CodCte;
                                await GetClientes();
                                ordenCierre.CodDes = response.Response.FirstOrDefault()?.CodDes;
                                await GetEstaciones();
                                ordenCierre.CodPrd = response.Response.FirstOrDefault(x => x.CodPrd == Producto_Pedido)?.CodPrd;
                                await GetPrecios();
                                ordenCierre.Precio = response.Response.FirstOrDefault()?.Precio ?? 0;
                                var responseDetalle = await http.Get<List<OrdenCierre>>($"api/cierre/{filtro.Folio}/detalle");
                                if (responseDetalle.Error)
                                {
                                    var message = await responseDetalle.ObtenerMensajeError();
                                    await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                                }
                                else
                                {
                                    await GetVolumenActivo();
                                    ordenCierres = responseDetalle.Response;
                                        count = 0;
                                }
                            }
                            else
                            {
                                ordenCierres = response.Response;
                            }
                        else
                            await Swal.FireAsync("", "No se encontraron pedidos activos en este folio.", SweetAlertIcon.Info);

                    }
                }
                else
                {
                    await Swal.FireAsync("Alerta", "Introduzca un valor valido para el folio.", SweetAlertIcon.Warning);
                    return;
                }
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    public async Task GetFolio()
    {
        try
        {
            SendOrden = true;
            if (!string.IsNullOrEmpty(ordenCierre.Folio_Perteneciente))
            {
                queryStringObject["folio"] = ordenCierre.Folio_Perteneciente;

                var uri = Constructor_De_URL_Parametros.Generar_URL(queryStringObject);
                var responseVerify = await http.Get<bool>($"api/cierre/caducidad/verify?{uri}");
                if (responseVerify.Error)
                {
                    var message = await responseVerify.ObtenerMensajeError();
                    await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                    SendOrden = false;
                    return;
                }

            }

            var response = await http.Post<OrdenCierre, bool>($"api/pedido/verificar/carga/{ID_Cierre}", ordenCierre);
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                SendOrden = false;
            }
            else
            {
                if (response.Response)
                    await CreateOrden();
                else
                {
                    var confirm = await Swal.FireAsync(new SweetAlertOptions
                        {
                            Icon = SweetAlertIcon.Warning,
                            ShowCancelButton = true,
                            ConfirmButtonText = "Aceptar",
                            CancelButtonText = "Cancelar",
                            Text = "Sobrepasara el volumen limite del cierre, ¿Quiere agregar esta orden?"
                        });

                    if (!string.IsNullOrEmpty(confirm.Value))
                        await CreateOrden();
                }
            }

            SendOrden = false;
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task CreateOrden()
    {
        try
        {
            var response = await http.Post<OrdenCierre, OrdenCierre>($"api/pedido/create/all", ordenCierre);
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                SendOrden = false;
            }
            else
            {
                ordenCierres.Add(response.Response);
                await GetVolumenActivo();
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task GetVolumenActivo()
    {
        try
        {
            Dictionary<string, string> Volumen_Query = new Dictionary<string, string>();

            Volumen_Query["Cod"] = ID_Cierre.ToString();
            Volumen_Query["Folio"] = Folio_Seleccionado;

            var url = Constructor_De_URL_Parametros.Generar_URL(Volumen_Query);
            var response = await http.Get<List<ProductoVolumen>>($"api/volumen?{url}");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
                Producto_Volumen = response.Response;
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task PutClientes()
    {
        try
        {
            var response = await http.Put<Cliente>("api/clientes", Cliente);
            if (response.Error)
            {
                var responseHttp = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task ChangeProducto()
    {
        try
        {
            if (ordenCierre.CodPrd != null && Precios.Count > 0)
                ordenCierre.Precio = Precios.FirstOrDefault(x => x.Producto != null && x.Producto?.Cod == ordenCierre?.CodPrd)?.Pre ?? 0;
            else
                ordenCierre.Precio = 0;
            // if (ordenCierre.CodPrd != null && CodProductoSeleccionado != ordenCierre.CodPrd)
            // {
            //     ordenCierre.Precio = Precios.FirstOrDefault(x => x.Producto?.Cod == ordenCierre?.CodPrd).Pre;
            //     CodProductoSeleccionado = ordenCierre.CodPrd;
            //     //StateHasChanged();
            // }
            //CodProductoSeleccionado = ordenCierre.CodPrd;
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task GetPrecios()
    {
        try
        {
            if (!Es_Cierre_Individual || Es_Orden_Copiada)
            {
                ZonaCliente zonaCliente = new ZonaCliente();
                zonaCliente.DesCod = ordenCierre.CodDes;
                zonaCliente.CteCod = ordenCierre.CodCte;
                var precioFolio = isFolio ? ordenCierre.Folio_Perteneciente : string.Empty;
                var response = await http.Post<ZonaCliente, List<Precio>>($"api/precio/productos/{precioFolio}", zonaCliente);
                if (response.Error)
                {
                    var responseHttp = await response.ObtenerMensajeError();
                    await Swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
                }
                else
                {
                    Precios = response.Response;
                    Precios = Precios.Where(x => x.codPrd == Producto_Pedido).ToList();
                    PrecioDetalle = Precios.FirstOrDefault(x => x.codPrd == Producto_Pedido);

                    DestinoSeleccionado = ordenCierre.CodDes;
                    await ChangeProducto();
                    // StateHasChanged();
                }
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async void CancelEdit()
    {
        try
        {
            ordenCierre = new OrdenCierre() { OrdenEmbarque = new OrdenEmbarque() };
            isEditing = false;
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    public async Task GetFoliosFiltro()
    {
        try
        {
            var response = await http.Post<CierreFiltroDTO, List<string>>($"api/cierre/folios/{ClienteSeleccionadoFiltro}", fechas);
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Folios = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task GetClientesFiltro()
    {
        try
        {
            if (GrupoSeleccionadoFiltro != 0 && GrupoSeleccionadoFiltroB != GrupoSeleccionadoFiltro)
            {
                var response = await http.Get<List<CodDenDTO>>($"api/cliente/{GrupoSeleccionadoFiltro}");
                if (response.Error)
                {
                    var message = await response.ObtenerMensajeError();
                    await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                }
                else
                {
                    GrupoSeleccionadoFiltroB = GrupoSeleccionadoFiltro;
                    ClientesFiltro = response.Response;
                    StateHasChanged();
                }
            }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task ChangePrecioType()
    {
        try
        {
            if (ordenCierre.CodPrd != null)
            {
                if (Precios.Any(x => x.Producto?.Cod != ordenCierre.CodPrd))
                {
                    ordenCierre.CodPrd = Precios.FirstOrDefault()?.Producto?.Cod;
                }
                ordenCierre.Precio = Precios.FirstOrDefault(x => x.Producto?.Cod == ordenCierre.CodPrd).Pre;
                ordenCierre.fchPrecio = Precios.FirstOrDefault(x => x.Producto?.Cod == ordenCierre.CodPrd).FchDia;
                CodProductoSeleccionado = ordenCierre.CodPrd;
                StateHasChanged();
            }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task OpenModal()
    {
        try
        {
            await ds.OpenAsync<ViewFoliosPedidosComponent>("Folios de pedidos", options: new DialogOptions()
                {
                    Width = "90%",
                    Height = "600px",
                    Resizable = true,
                    Draggable = false
                });
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private void FilterFolios()
    {
        foliosFiltro = folioDetalles.Where(x => !string.IsNullOrEmpty(x.Folio) && x.Folio.Contains(folioSearch, StringComparison.OrdinalIgnoreCase)).ToList();
    }

    private async Task Obtener_Detalle_Cierre()
    {
        try
        {
            Loading_Detalle = true;
            StateHasChanged();

            query = new Dictionary<string, string>();

            query["Cod"] = ID_Cierre.ToString();
            query["Folio"] = Folio_Seleccionado;

            ordenCierre.Folio_Perteneciente = Folio_Seleccionado;

            var uri = Constructor_De_URL_Parametros.Generar_URL(query);
            var response = await http.Get<Crear_Orden_Template_DTO>($"api/cierre/detalle?{uri}");
            if (response.Error)
            {
                Loading_Detalle = false;
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                var template = response.Response;

                Grupos = template.Grupos;
                Clientes = template.Clientes.Count > 0 ? template.Clientes.Select(x => new CodDenDTO() { Cod = x.Cod, Den = x?.Den ?? string.Empty }).ToList() : new List<CodDenDTO>();
                Estaciones = template.Destinos.Count > 0 ? template.Destinos.Select(x => new CodDenDTO() { Cod = x.Cod, Den = x?.Den ?? string.Empty }).ToList() : new List<CodDenDTO>();

                ordenCierre.CodGru = template.ID_Grupo;
                ordenCierre.CodCte = template.ID_Cliente;
                ordenCierre.CodDes = template.ID_Destino;
                ordenCierre.CodPrd = template.ID_Producto;

                Precios.Add(template.Precio);
                PrecioDetalle = template.Precio;
                ordenCierre.Precio = template.Precio.Pre;
                Puede_Buscar_Cliente_Destino = template.Puede_Seleccionar_Cliete_Destino;
                ordenCierres = template.OrdenCierres;
            }

            await GetVolumenActivo();

            Loading_Detalle = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            Loading_Detalle = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task Obtener_Detalle_Cierre_General()
    {
        try
        {
            Loading_Detalle = true;
            StateHasChanged();

            query = new Dictionary<string, string>();

            query["Folio"] = Folio_Seleccionado;

            ordenCierre.Folio_Perteneciente = Folio_Seleccionado;

            var uri = Constructor_De_URL_Parametros.Generar_URL(query);
            var response = await http.Get<Crear_Orden_Template_DTO>($"api/cierre/detalle/general?{uri}");
            if (response.Error)
            {
                Loading_Detalle = false;
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                var template = response.Response;

                Grupos = template.Grupos;
                Clientes = template.Clientes.Count > 0 ? template.Clientes.Select(x => new CodDenDTO() { Cod = x.Cod, Den = x?.Den ?? string.Empty }).ToList() : new List<CodDenDTO>();
                Estaciones = template.Destinos.Count > 0 ? template.Destinos.Select(x => new CodDenDTO() { Cod = x.Cod, Den = x?.Den ?? string.Empty }).ToList() : new List<CodDenDTO>();

                // Precios.Add(template.Precio);
                Precios = template.Precios;
                PrecioDetalle = template.Precio;
                ordenCierre.Precio = template.Precio.Pre;
                Puede_Buscar_Cliente_Destino = template.Puede_Seleccionar_Cliete_Destino;
                Es_Orden_Copiada = template.Es_Orden_Copiada;

                ordenCierres = template.OrdenCierres;
            }

            await GetVolumenActivo();

            Loading_Detalle = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            Loading_Detalle = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }
}
