@page "/"
@inject IRepositorio http
@inject SweetAlertService Swal
@inject IJSRuntime js

<NavigationLock OnBeforeInternalNavigation="OnPreventInternalNavigation"></NavigationLock>
<h4><b>Pedidos</b></h4>
@if (isEditing)
{
    <EditPedidoForm Terminales="Terminales" Productos="Productos" Cantidades="Cantidades" ordenEmbarque="ordenEmbarque" CancelPedido="changeEdit"
                Estacion="Destino" SavePedido="EditPedido" />
}
else
{
    <CrearPedidoForm http="http" Swal="Swal" ordenEmbarque="ordenEmbarque" ConfirmPedido="ConfirmPedido" SavePedido="SavePedido"
                 Terminales="Terminales" Grupos="Grupos" Productos="Productos" Cantidades="Cantidades" />
}

<div class="col-12 mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Binomio</th>
                <th>Estacion</th>
                <th>Terminal</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Fecha de carga</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (ordens is null)
            {
                <tr>
                    <td colspan="10">
                        <SpinnerLoading />
                    </td>
                </tr>
            }
            else if (ordens.Count == 0)
            {
                <tr>
                    <td colspan="10">
                        <NoHayRegistros />
                    </td>
                </tr>
            }
            else
            {
                @foreach (OrdenEmbarque item in ordens)
                {
                    <tr>
                        <td>BIN_@item.Bin</td>
                        <td>@item.Destino?.Den</td>
                        <td>@item.Tad?.Den</td>
                        <td>@item.Producto?.Den</td>
                        <td>@item?.Vol</td>
                        <td>@item.Pre</td>
                        <td>@item.Fchcar?.ToString("dd/MM/yyyy")</td>
                        <td>
                            <div class="col-12 row">
                                <div class="col">
                                    <button class="btn btn-danger col-12" @onclick="@(()=>CancelPedido(item))"><i class="fa fa-solid fa-ban"></i></button>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary col-12" @onclick="@(()=>SetEdit(item))"><i class="fa fa-solid fa-pen-to-square"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {

    private OrdenEmbarque ordenEmbarque { get; set; } = new OrdenEmbarque();
    private List<OrdenEmbarque> ordens { get; set; } = new List<OrdenEmbarque>();

    //listas
    private List<CodDenDTO> Terminales { get; set; } = null!;
    private List<CodDenDTO> Grupos { get; set; } = null!;
    private List<CodDenDTO> Clientes { get; set; } = null!;
    private List<CodDenDTO> Estaciones { get; set; } = null!;
    private List<CodDenDTO> Productos { get; set; } = null!;
    private IEnumerable<CodDenDTO> Destino { get; set; } = null!;
    private List<int> Cantidades { get; set; } = null!;

    private DateTime FechaCarga = DateTime.MinValue;
    private float Precio = 0;

    //loadings
    bool loadingAgregar = false;
    bool loadingConfirm = false;

    //editmodel
    private EditContext OrdenContext = null!;
    private bool isEditing = false;

    //ordenesPendientes
    private List<int> ordenPendientes = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        OrdenContext = new(ordenEmbarque);
        await GetTerminales();
        await GetGrupos();
        await GetCantidades();
        await GetProductos();
        await GetEstaciones();
        await GetOrdenesPendientes();
    }

    private void changeEdit()
    {
        ordenEmbarque = new OrdenEmbarque();
        isEditing = !isEditing;
    }

    public async Task GetEstaciones()
    {
        try
        {
            var response = await http.Get<IEnumerable<CodDenDTO>>("api/destino");
            if (response.Error)
            {
                var responseHttp = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
            }
            else
            {
                Destino = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task CancelPedido(OrdenEmbarque orden)
    {
        try
        {
            var confirm = await Swal.FireAsync(new SweetAlertOptions
                {
                    Icon = SweetAlertIcon.Warning,
                    ShowCancelButton = true,
                    ConfirmButtonText = "Aceptar",
                    CancelButtonText = "Cancelar",
                    Text = "¿Desea cancelar la orden?"
                });

            if (!string.IsNullOrEmpty(confirm.Value))
            {

                var response = await http.Delete($"api/pedido/{orden.Cod}/cancel");
                if (response.Error)
                {
                    var responseHttp = await response.ObtenerMensajeError();
                    await Swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
                }
                else
                {
                    await Swal.FireAsync("Pedido cancelado", $"El pedido con el binomio {orden.Bin} ha sido cancelado", SweetAlertIcon.Info);
                    ordenPendientes.Remove(orden.Cod);
                    await js.SetItemLocalStorage("EXPIRACIONPEDIDO", DateTime.Today.Date.AddDays(1).ToString());
                    await js.SetItemLocalStorage("PEDIDO", JsonConvert.SerializeObject(ordenPendientes));
                    await GetOrdenesPendientes();
                }
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task GetOrdenesPendientes()
    {
        try
        {
            List<int>? ordenesPendientes = new List<int>();
            try
            {
                if (await js.GetItemLocalStorage("PEDIDO") != null)
                {
                    ordenesPendientes = JsonConvert.DeserializeObject<List<int>>(await js.GetItemLocalStorage("PEDIDO"));
                    ordens = null!;
                    StateHasChanged();
                }
            }
            catch (Exception e)
            {
                await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            }

            DateTime expiration;
            if (DateTime.TryParse(await js.GetItemLocalStorage("EXPIRACIONPEDIDO"), out expiration))
            {
                if (DateTime.Today.Date < expiration)
                {
                    var response = await http.Post<List<int>, List<OrdenEmbarque>>("api/pedido/list", ordenesPendientes);

                    if (response.Error)
                    {
                        var message = await response.ObtenerMensajeError();
                        await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                    }
                    else
                    {
                        ordens = response.Response;
                        ordenPendientes = ordenesPendientes;
                    }
                }
                else
                {
                    try
                    {
                        foreach (var item in ordenesPendientes)
                        {
                            var response = await http.Delete($"api/pedido/{item}/cancel");
                            if (response.Error)
                            {
                                var message = await response.ObtenerMensajeError();
                                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                            }
                        }
                        ordens = new List<OrdenEmbarque>();
                        await js.RemoveItemLocalStorage("PEDIDO");
                        await js.RemoveItemLocalStorage("EXPIRACIONPEDIDO");
                    }
                    catch (Exception e)
                    {
                        await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
                        throw e;
                    }
                }
            }

        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task OnPreventInternalNavigation(LocationChangingContext context)
    {
        if (ordens.Count == 0)
        {
            return;
        }

        var confirm = await Swal.FireAsync(new SweetAlertOptions
            {
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Aceptar",
                CancelButtonText = "Cancelar",
                Text = "Tiene ordenes pendientes por confirmar, ¿Seguro que quiere salir?"
            });

        if (!string.IsNullOrEmpty(confirm.Value))
        {
            await js.SetItemLocalStorage("PEDIDO", JsonConvert.SerializeObject(ordenPendientes));
            await js.SetItemLocalStorage("EXPIRACIONPEDIDO", DateTime.Today.Date.AddDays(1).ToString());
            return;
        }

        context.PreventNavigation();
    }

    public async Task GetTerminales()
    {
        try
        {
            var response = await http.Get<List<CodDenDTO>>("api/terminal");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Terminales = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task GetGrupos()
    {
        try
        {
            var response = await http.Get<List<CodDenDTO>>("api/grupo");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Grupos = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task GetCantidades()
    {
        try
        {
            var response = await http.Get<List<int>>("api/cantidad");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Cantidades = response.Response;
                Cantidades.OrderBy(x => x);
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    public async Task GetProductos()
    {
        try
        {
            var response = await http.Get<List<CodDenDTO>>("api/producto");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Productos = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private async Task SavePedido()
    {
        loadingAgregar = true;
        try
        {
            if (ordens?.Count < 8 || ordens is null)
            {
                if (ordenEmbarque.Codtad != 0 && ordenEmbarque.Codprd != 0 && ordenEmbarque.Coddes != 0 && ordenEmbarque.Vol != 0)
                {
                    ordenEmbarque.Codest = 9;
                    ordenEmbarque.Fchpet = DateTime.Now;
                    var response = await http.Post<OrdenEmbarque, OrdenEmbarque>("api/pedido", ordenEmbarque);
                    if (response.Error)
                    {
                        loadingAgregar = false;
                        var message = await response.ObtenerMensajeError();
                        await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                    }
                    else
                    {
                        loadingAgregar = false;
                        if (response.Response is not null)
                        {
                            ordens.Add(response.Response);
                            ordenPendientes.Add(response.Response.Cod);
                            await js.SetItemLocalStorage("EXPIRACIONPEDIDO", DateTime.Today.Date.AddDays(1).ToString());
                            await js.SetItemLocalStorage("PEDIDO", JsonConvert.SerializeObject(ordenPendientes));
                        }
                    }
                }
                else
                {
                    await Swal.FireAsync("Advertencia", "Revise que no falte ningun campo en el formulario por llenar.", SweetAlertIcon.Warning);
                    loadingAgregar = false;
                }
            }
            else
            {
                loadingAgregar = false;
                await Swal.FireAsync("Advertencia", "El limite de pedidos ha sido alcanzado", SweetAlertIcon.Warning);
            }
        }
        catch (Exception e)
        {
            loadingAgregar = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task ConfirmPedido()
    {
        loadingConfirm = true;
        try
        {
            if (ordens.Count < 8)
            {
                var response = await http.Post<List<OrdenEmbarque>, OrdenCompra>("api/pedido/confirm", ordens);
                if (response.Error)
                {
                    loadingConfirm = false;
                    string? message = await response.ObtenerMensajeError();
                    await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
                }
                else
                {
                    loadingConfirm = false;
                    await Swal.FireAsync("Folio", response.Response.den, SweetAlertIcon.Info);
                    ordens = new List<OrdenEmbarque>();
                    await js.RemoveItemLocalStorage("PEDIDO");
                    await js.RemoveItemLocalStorage("EXPIRACIONPEDIDO");
                    ordenPendientes = new List<int>();
                }
            }
            else
            {
                loadingAgregar = false;
                await Swal.FireAsync("Advertencia", "El limite de pedidos ha sido alcanzado", SweetAlertIcon.Warning);
            }
        }
        catch (Exception e)
        {
            loadingConfirm = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task EditPedido()
    {
        loadingAgregar = true;
        try
        {
            ordenEmbarque.Destino = null;
            var response = await http.Put<OrdenEmbarque>("api/pedido", ordenEmbarque);
            if (response.Error)
            {
                loadingAgregar = false;
                string? message = await response.ObtenerMensajeError();
                await Swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                loadingAgregar = false;
                changeEdit();
                await GetOrdenesPendientes();
            }
        }
        catch (Exception e)
        {
            loadingAgregar = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
            throw e;
        }
    }

    private void SetEdit(OrdenEmbarque orden)
    {
        isEditing = true;
        ordenEmbarque = orden;
    }
}
