@inject IJSRuntime js
@inject IRepositorio http

<table class="table table-sm table-bordered table-hover" id="miTabla">
    <thead class="fila">
        <tr style="max-height:50px;white-space:nowrap;">
            <th class="sticky-column" style="background-color:white;max-width:180px;min-width:180px;width:120px;">
                Programar
            </th>
            <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                Fecha de vigencia
            </th>
            <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                Folio
            </th>
            <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                Volumen Disponible
            </th>
            <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                Grupo
            </th>
            <th class="th-resizable overflow-hidden" style="min-width:20px;width:100px;">
                Cliente
            </th>
            <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                Destino
            </th>
            <th class="th-resizable overflow-hidden" style="min-width:20px;width:200px;">
                Producto
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input placeholder="Buscar grupo..." class="form-control form-control-sm" @oninput="@FilterGrupo" @bind="Grupo_Filtrado"/></td>
            <td><input placeholder="Buscar cliente..." class="form-control form-control-sm" @oninput="@FilterCliente" @bind="Cliente_Filtrado" /></td>
            <td><input placeholder="Buscar destino..." class="form-control form-control-sm" @oninput="@FilterDestino" @bind="Destino_Filtrado" /></td>
            <td><input placeholder="Buscar producto..." class="form-control form-control-sm" @oninput="@FilterProducto" @bind="Producto_Filtrado" /></td>
        </tr>
        @if (Loading_Get_Folios)
        {
            <tr>
                <td colspan="8">
                    <SpinnerLoading /> Cargando...
                </td>
            </tr>
        }
        else if ((Folios is null || Folios.Count == 0) && Loading_Get_Folios == false)
        {
            <tr>
                <td colspan="8">
                    No hay registros
                </td>
            </tr>
        }
        else
        {
            <Virtualize Items="@Folios" Context="item" TItem="Folio_Activo_Vigente">
                <tr class="@(Folio.ID_Cierre == item.ID_Cierre ? "table-active" : string.Empty)" style="white-space:nowrap;">
                    <td class="sticky-column" style="background-color:white;">
                        <div class="col-12 row">
                            <div class="col-12">
                                <button class="btn gcom-bg-amarillo btn-sm col-12" @onclick="@(()=>Cambiar_Folio.InvokeAsync(item.Folio))">
                                    <i class="fa fa-solid fa-list-check"></i>
                                </button>
                            </div>
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="text-hidden-overflow">
                            <p>
                                @(item.Fecha_Cierre.ToShortDateString()) - @(item.Fecha_Vigencia.ToShortDateString())
                            </p>
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="text-hidden-overflow">
                            @item?.Folio
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="text-hidden-overflow">
                            @if (item?.VolumenDisponibleDTO is not null)
                            {
                                @foreach (var data in item.VolumenDisponibleDTO.Productos)
                                {
                                    @data.Disponible
                                }
                            }
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="text-hidden-overflow">
                            @item?.Nombre_Grupo
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="text-hidden-overflow">
                            @item?.Nombre_Cliente
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="text-hidden-overflow">
                            @item?.Nombre_Destino
                        </div>
                    </td>
                    <td class="overflow-hidden">
                        <div class="text-hidden-overflow">
                            @item?.Nombre_Producto
                        </div>
                    </td>
                </tr>
            </Virtualize>
        }
    </tbody>
</table>

<style type="text/css">
    .ancho {
        width: contain;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 12px;
        text-align: left;
        table-layout: fixed;
    }

    table, th, td {
        background-color: white;
    }

    .fila th {
        position: -webkit-sticky;
        position: sticky;
        text-align: center;
        top: 0;
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #FFF633;
    }

    tr:active {
        background-color: #FFF633;
    }

    .asignar {
        table-layout: auto;
        width: auto;
    }

    .sticky-column {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: white;
    }

        .sticky-column, .sticky-column + th, .sticky-column + td {
            min-width: 180px;
        }

    .table-container {
        overflow: auto;
        width: 100%;
        border: 1px solid #ccc;
        max-height: 400px; /* Establece una altura máxima si es necesario */
    }

    th, td {
        padding: 8px;
        border: 1px solid #ccc;
    }

    .th-resizable {
        position: relative;
        cursor: col-resize;
    }

        .th-resizable::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 8px; /* Ancho del área de redimensionamiento */
            background: transparent;
        }

    .dropdown-content-gcom {
        position: absolute;
        background-color: #f6f6f6;
        border: 1px solid #ccc;
        max-height: 300px;
        z-index: 2;
        overflow: auto;
        list-style: none;
        max-width: 100%;
        font-size: 12px;
    }

    .text-hidden-overflow {
        width: 100%;
        white-space: nowrap; /*Evita saltos de linea*/
        overflow: hidden; /*oculta el texto que desborda*/
        text-overflow: ellipsis; /*Mustra puntos suspensivos para texto recortado*/
    }

    .filter-container {
        width: 100%;
    }

    .filter-input {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    select {
        width: 100%;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
</style>

@code {
    // [Parameter] public string Folio_Seleccionado { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> Cambiar_Folio { get; set; }

    List<Folio_Activo_Vigente> Folios { get; set; } = new List<Folio_Activo_Vigente>();
    Folio_Activo_Vigente Folio { get; set; } = new Folio_Activo_Vigente();
    private bool Loading_Get_Folios = false;

    string Grupo_Filtrado = string.Empty;
    string Cliente_Filtrado = string.Empty;
    string Destino_Filtrado = string.Empty;
    string Producto_Filtrado = string.Empty;

    bool showDropDown = false;
    bool showDropDownCliente = false;
    bool showDropDownDestino = false;

    List<Grupo> Grupos { get; set; } = new List<Grupo>();
    IList<Grupo> Grupos_Filtrados => Grupos.Where(x => !string.IsNullOrEmpty(x.Den) && x.Den.Contains(Grupo_Filtrado, StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(Grupo_Filtrado)).ToList();

    Dictionary<string, string> queryParams = new Dictionary<string, string>();

    protected async override Task OnInitializedAsync()
    {
        await GetFolios();
    }

    private async Task FilterGrupo(ChangeEventArgs e)
    {
        Grupo_Filtrado = e.Value.ToString();
        queryParams["Grupo_Filtrado"] = Grupo_Filtrado;
        await GetFolios();
    }

    private async Task FilterCliente(ChangeEventArgs e)
    {
        Cliente_Filtrado = e.Value.ToString();
        queryParams["Cliente_Filtrado"] = Grupo_Filtrado;
        await GetFolios();
    }

    private async Task FilterDestino(ChangeEventArgs e)
    {
        Destino_Filtrado = e.Value.ToString();
        queryParams["Destino_Filtrado"] = Grupo_Filtrado;
        await GetFolios();
    }

    private async Task FilterProducto(ChangeEventArgs e)
    {
        Producto_Filtrado = e.Value.ToString();
        queryParams["Producto_Filtrado"] = Grupo_Filtrado;
        await GetFolios();
    }

    private async Task GetFolios()
    {
        try
        {
            Loading_Get_Folios = true;
            var url = Constructor_De_URL_Parametros.Generar_URL(queryParams);
            var response = await http.Get<List<Folio_Activo_Vigente>>($"api/pedido/folios/activo/vigente?{url}");
            if (response.Error)
            {
                Loading_Get_Folios = false;
                var message = await response.ObtenerMensajeError();
            }
            else
            {
                Folios = response.Response;
            }
            Loading_Get_Folios = false;
        }
        catch (Exception e)
        {
            Loading_Get_Folios = false;
        }
    }
}
