@inject IRepositorio http
@inject IJSRuntime js
@inject SweetAlertService Swal

<div class="col-12 my-1">
    <button class="btn bt-sm col-3 gcom-bg-amarillo" @onclick="Exportar">
        <i class="fa fa-solid fa-file-excel" />
        Exportar
    </button>
</div>
<div class="card">
    <div class="card-header">
        <b>Cierre</b>
    </div>
    <div class="card-body">
        <div style="width:100%; overflow-x:scroll;">
            <Tabla Datos="Cierres">
                <Cabeceras>
                    <tr>
                        <th style="width: 150px;" class="resizable-column">Fecha de inicio</th>
                        <th style="width: 150px;" class="resizable-column">Producto</th>
                        <th style="width: 150px;" class="resizable-column">Sitio</th>
                        <th style="width: 150px;" class="resizable-column">Almacen</th>
                        <th style="width: 150px;" class="resizable-column">Localidad</th>
                        <th style="width: 150px;" class="resizable-column">Inventario fisico</th>
                        <th style="width: 150px;" class="resizable-column">Fisica reservada</th>
                        <th style="width: 150px;" class="resizable-column">Fisico disponible</th>
                        <th style="width: 150px;" class="resizable-column">Fisica reservada disponible</th>
                        <th style="width: 150px;" class="resizable-column">Pedido total</th>
                        <th style="width: 150px;" class="resizable-column">Ordenada reservada</th>
                        <th style="width: 150px;" class="resizable-column">En orden</th>
                        <th style="width: 150px;" class="resizable-column">Cargada</th>
                        <th style="width: 150px;" class="resizable-column">Total disponible</th>
                        <th style="width: 150px;" class="resizable-column">Total disponible en full</th>
                        <th style="width: 150px;" class="resizable-column">Usuario de inicio de cierre</th>
                    </tr>
                </Cabeceras>
                <Columnas Context="inv">
                    <tr>
                        <td>@inv.FechaInicio</td>
                        <td>@inv.Producto</td>
                        <td>@inv.Sitio</td>
                        <td>@inv.Almacen</td>
                        <td>@inv.Localidad</td>
                        <td>@inv.Fisico.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.Reservado.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.Disponible.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.ReservadoDisponible.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.PedidoTotal.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.OrdenReservado.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.EnOrden.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.Cargado.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.TotalDisponible.ToString("N2", CultureInfo.InvariantCulture) lts</td>
                        <td>@inv.TotalDisponibleFull.ToString("N2", CultureInfo.InvariantCulture)</td>
                        <td>@inv.UsuarioInicio?.ToString()</td>
                    </tr>
                </Columnas>
            </Tabla>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <b>Movimientos</b>
    </div>
    <div class="card-body">
        <div style="width:100%; overflow-x:auto;">
            <Tabla Datos="Inventarios">
                <Cabeceras>
                    <tr>
                        <th style="width: 150px;" class="resizable-column">Producto</th>
                        <th style="width: 150px;" class="resizable-column">Sitio</th>
                        <th style="width: 150px;" class="resizable-column">Almacen</th>
                        <th style="width: 150px;" class="resizable-column">Localidad</th>
                        <th style="width: 150px;" class="resizable-column">Fecha Fisica</th>
                        <th style="width: 150px;" class="resizable-column">Tipo de movimiento</th>
                        <th style="width: 150px;" class="resizable-column">Referencia</th>
                        <th style="width: 150px;" class="resizable-column">ID documento</th>
                        <th style="width: 150px;" class="resizable-column">Hora inicial de movimiento</th>
                        <th style="width: 150px;" class="resizable-column">Hora final de movimiento</th>
                        <th style="width: 150px;" class="resizable-column">Tirilla inicial</th>
                        <th style="width: 150px;" class="resizable-column">Tirilla final</th>
                        <th style="width: 150px;" class="resizable-column">Cantidad</th>
                        <th style="width: 150px;" class="resizable-column">Cantidad facturada</th>
                        <th style="width: 150px;" class="resizable-column">Sobrante / faltante</th>
                        <th style="width: 150px;" class="resizable-column">Unidad de medida</th>
                        <th style="width: 150px;" class="resizable-column">Temperatura</th>
                        <th style="width: 150px;" class="resizable-column">Fecha de ejecucion de cierre</th>
                        <th style="width: 150px;" class="resizable-column">Transportista</th>
                        <th style="width: 150px;" class="resizable-column">Tonel</th>
                        <th style="width: 150px;" class="resizable-column">Chofer</th>
                        <th style="width: 150px;" class="resizable-column">Inventario</th>
                        <th style="width: 150px;" class="resizable-column">Origen / Destino</th>
                    </tr>
                </Cabeceras>
                <Filtros>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <select class="form-select form-select-sm"
                                    onchange="@((ChangeEventArgs args)=>Filtrar(args,nameof(Filtro.TipoMovimientoId)))">
                                <option value="0">Todos</option>
                                @foreach (var item in TiposMovimientos)
                                {
                                    <option value="@item.Id">@item.Valor</option>
                                }
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <select class="form-select form-select-sm"
                                    onchange="@((ChangeEventArgs args)=>Filtrar(args,nameof(Filtro.UnidadMedidaId)))">
                                <option value="0">Todos</option>
                                @foreach (var item in UnidadesMedida)
                                {
                                    <option value="@item.Id">@item.Valor</option>
                                }
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                        <td><input class="form-control form-control-sm" @bind-value="Filtro.Transportista" @oninput="@((args)=>Filtrar(args, nameof(Filtro.Transportista)))" /></td>
                        <td><input class="form-control form-control-sm" @bind-value="Filtro.Tonel" @oninput="@((args)=>Filtrar(args, nameof(Filtro.Tonel)))" /></td>
                        <td><input class="form-control form-control-sm" @bind-value="Filtro.Chofer" @oninput="@((args)=>Filtrar(args, nameof(Filtro.Chofer)))" /></td>
                        <td></td>
                        <td><input class="form-control form-control-sm" @bind-value="Filtro.OrigenDestino" @oninput="@((args)=>Filtrar(args, nameof(Filtro.OrigenDestino)))" /></td>
                    </tr>
                </Filtros>
                <Columnas Context="item">
                    <tr>
                        <td>@item.Producto</td>
                        <td>@item.Sitio</td>
                        <td>@item.Almacen</td>
                        <td>@item.Localidad</td>
                        <td>@item.FechaRegistro.ToString("dd/MM/yyyy hh:mm tt")</td>
                        <td>@item.TipoMovimiento</td>
                        <td>@item.Referencia</td>
                        <td>@item.Numero</td>
                        <td>@item.FechaInicioMovimiento.ToString("hh:mm tt")</td>
                        <td>@item.FechaFinMovimiento.ToString("hh:mm tt")</td>
                        <td>@item.TirillaInicial</td>
                        <td>@item.TirillaFinal</td>
                        <td>@item.Cantidad.ToString("N2", CultureInfo.InvariantCulture)</td>
                        <td>@item.CantidadFacturada.ToString("N2", CultureInfo.InvariantCulture)</td>
                        <td class="@(item.Diferencia < 0 ? "text-danger" : "text-success")">@item.Diferencia.ToString("N2", CultureInfo.InvariantCulture)</td>
                        <td>@item.UnidadMedida</td>
                        <td>@item.Temperatura.ToString("#.## °", CultureInfo.InvariantCulture)</td>
                        <td>@(item.FechaCierre?.ToString("dd/MM/yyyy hh:mm tt") ?? "----")</td>
                        <td>@item.Transportista</td>
                        <td>@item.Tonel</td>
                        <td>@item.Chofer</td>
                        <td>@item.TipoInventario.Description()</td>
                        <td>@item.OrigenDestino</td>
                    </tr>
                </Columnas>
            </Tabla>
        </div>
    </div>
</div>
<div class="col-12">
    <PaginacionComponent PaginaActual="Filtro.Pagina_ACtual" PaginasTotales="Filtro.Total_paginas" PaginaSeleccionada="SeleccionarPagina" />
    <div class="col-12">
        <p>Total de registros: @Filtro.Total_registros</p>
    </div>
</div>

@code {
    [Parameter] public InventarioCierreDTO Cierre { get; set; } = new();
    List<InventarioDTO> Inventarios = new();
    List<InventarioCierreDTO> Cierres = new();
    InventarioDTO Filtro = new();
    bool loading = false;
    Dictionary<string, string> query = new();

    IEnumerable<CatalogoValorDTO> UnidadesMedida = new List<CatalogoValorDTO>();
    IEnumerable<CatalogoValorDTO> TiposMovimientos = new List<CatalogoValorDTO>();

    protected override async Task OnParametersSetAsync()
    {
        Cierres.Add(Cierre);
        await Task.WhenAll(
            CatalogoTipoMovimiento(),
            CatalogoUnidadMedida(),
            CargarInventario()
        );
    }

    private Dictionary<string, string> SetFiltro()
    {
        query[nameof(Filtro.TipoMovimientoId)] = Filtro.TipoMovimientoId.ToString();
        query[nameof(Filtro.UnidadMedidaId)] = Filtro.UnidadMedidaId.ToString();
        query[nameof(Filtro.Transportista)] = Filtro.Transportista;
        query[nameof(Filtro.Tonel)] = Filtro.Tonel;
        query[nameof(Filtro.Chofer)] = Filtro.Chofer;
        query[nameof(Filtro.OrigenDestino)] = Filtro.OrigenDestino;
        query[nameof(Filtro.CierreId)] = Cierre.Id.ToString();
        query[nameof(Filtro.FechaNULL)] = Cierre.Id.IsZero() ? true.ToString() : false.ToString();
        query[nameof(Filtro.Pagina)] = Filtro.Pagina.ToString();
        query[nameof(Filtro.Registros_por_pagina)] = Filtro.Registros_por_pagina.ToString();

        return query;
    }

    private async Task CargarInventario()
    {
        try
        {
            loading = true;
            query[nameof(Filtro.Excel)] = false.ToString();
            var url = Constructor_De_URL_Parametros.Generar_URL(SetFiltro());
            var response = await http.Get<List<InventarioDTO>>($"api/inventario?{url}");
            if (response.Error)
            {
                loading = false;
                var message = await response.ObtenerMensajeError();
            }
            else
            {
                loading = false;
                Inventarios = response.Response;
                Filtro.Pagina_ACtual = Constructor_De_URL_Parametros.Obt_Pagina_Actual(response.HttpResponseMessage);
                Filtro.Total_paginas = Constructor_De_URL_Parametros.Obt_Total_Paginas(response.HttpResponseMessage);
                Filtro.Total_registros = Constructor_De_URL_Parametros.Obt_Total_Registros(response.HttpResponseMessage);
            }
        }
        catch (Exception e)
        {
            loading = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);

        }
    }

    private async Task SeleccionarPagina(int pagina)
    {
        Filtro.Pagina = pagina;
        Filtro.Pagina_ACtual = pagina;
        await CargarInventario();
    }

    private async Task Filtrar(ChangeEventArgs args, string pro)
    {
        switch (pro)
        {
            case nameof(Filtro.ProductoId):
                Filtro.ProductoId = int.Parse(args.Value?.ToString() ?? string.Empty);
                break;
            case nameof(Filtro.SitioId):
                Filtro.SitioId = int.Parse(args.Value?.ToString() ?? string.Empty);
                break;
            case nameof(Filtro.AlmacenId):
                Filtro.AlmacenId = int.Parse(args.Value?.ToString() ?? string.Empty);
                break;
            case nameof(Filtro.LocalidadId):
                Filtro.LocalidadId = int.Parse(args.Value?.ToString() ?? string.Empty);
                break;
            case nameof(Filtro.TipoMovimientoId):
                Filtro.TipoMovimientoId = int.Parse(args.Value?.ToString() ?? string.Empty);
                break;
            case nameof(Filtro.UnidadMedidaId):
                Filtro.UnidadMedidaId = int.Parse(args.Value?.ToString() ?? string.Empty);
                break;
            case nameof(Filtro.Transportista):
                Filtro.Transportista = args.Value?.ToString() ?? string.Empty;
                break;
            case nameof(Filtro.Tonel):
                Filtro.Tonel = args.Value?.ToString() ?? string.Empty;
                break;
            case nameof(Filtro.Chofer):
                Filtro.Chofer = args.Value?.ToString() ?? string.Empty;
                break;
            case nameof(Filtro.OrigenDestino):
                Filtro.OrigenDestino = args.Value?.ToString() ?? string.Empty;
                break;
            default:
                break;
        }
        await CargarInventario();
    }

    private async Task Exportar()
    {
        try
        {
            loading = true;
            query[nameof(Filtro.Excel)] = true.ToString();
            var url = Constructor_De_URL_Parametros.Generar_URL(SetFiltro());
            var response = await http.Get<byte[]>($"api/inventario/cierre/detalle/reporte?{url}");
            if (response.Error)
            {
                loading = false;
                var message = await response.ObtenerMensajeError();
            }
            else
            {
                loading = false;
                await js.GuardarComo($"Inventarios_{DateTime.Now.ToString("ddMMyyyyHHmmss")}.xlsx", response.Response);
            }
        }
        catch (Exception e)
        {
            loading = false;
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);

        }
    }

    private async Task CatalogoUnidadMedida()
    {
        try
        {
            var response = await http.Get<IEnumerable<CatalogoValorDTO>>("api/inventario/catalogo/unidadmedida");
            if (response.Error)
            {
                await Swal.FireAsync("Error", await response.ObtenerMensajeError(), SweetAlertIcon.Error);
            }
            else
            {
                UnidadesMedida = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task CatalogoTipoMovimiento()
    {
        try
        {
            var response = await http.Get<IEnumerable<CatalogoValorDTO>>("api/inventario/catalogo/tipomovimiento");
            if (response.Error)
            {
                await Swal.FireAsync("Error", await response.ObtenerMensajeError(), SweetAlertIcon.Error);
            }
            else
            {
                TiposMovimientos = response.Response;
            }
        }
        catch (Exception e)
        {
            await Swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }
}
